/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_image.t_edit {
    .yt_fileupload1,
    .t_haveimage {
        margin-top:.5em;
    }
    img {
        border: var(--panel-border);
        border-radius: var(--panel-border-radius);
        padding: 1em;
    }
}

