@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
input[type=password].yt_password20 {
  width: 24ch;
}
input[type=password].yt_password20::-webkit-input-placeholder {
  color: var(--inp-ph-clr);
  opacity: var(--inp-ph-opacity);
}
input[type=password].yt_password20::-moz-placeholder {
  color: var(--inp-ph-clr);
  opacity: var(--inp-ph-opacity);
}
input[type=password].yt_password20::placeholder {
  color: var(--inp-ph-clr);
  opacity: var(--inp-ph-opacity);
}