@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
input[type="password"].yt_password20 {
  width: 24ch; }
  input[type="password"].yt_password20::-webkit-input-placeholder {
    opacity: 0.6; }
  input[type="password"].yt_password20:-ms-input-placeholder {
    opacity: 0.6; }
  input[type="password"].yt_password20::-ms-input-placeholder {
    opacity: 0.6; }
  input[type="password"].yt_password20::placeholder {
    opacity: 0.6; }
