@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Languages#License*@
@inherits  YetaWF.Modules.Languages.Views.Shared.LocalizeStringsHelper<YetaWF.Core.Serializers.SerializableList<YetaWF.Core.Localize.LocalizationData.StringData>>
@using YetaWF.Core.Localize
@using YetaWF.Modules.Languages.Views.Shared
<div class='yt_yetawf_languages_localizestrings t_edit'>
    @{
        int index = 0;
    }
    @foreach (LocalizationData.StringData strData in Model) {
        <div class='t_string'>
            @Html.ExtHiddenFor(m => strData.Name, string.Format("[{0}].Name", index))
            <div class='t_name'>@Html.ExtLabelFor(m => strData.Name, string.Format("[{0}].Text", index), Caption: strData.Name, HtmlAttributes: new { Title = __ResStr("captTT", "Text found in __ResStr(\"{0}\", ...)", strData.Name) })</div>
            <div class='t_text'>@Html.EditorFor(m => strData.Text, "Text80", string.Format("[{0}].Text", index))</div>
        </div>
        ++index;
    }
</div>