/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Menus#License */

.modPanel.YetaWF_Packages_Packages {
    .yModuleContents {
        padding:0;
        .yt_grid {
            border: none;
            box-shadow: none;
        }
    }
}
