@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/TinyLogin#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.TinyLogin.Modules.TinyLoginModule, YetaWF.Modules.TinyLogin.Controllers.TinyLoginModuleController.TinyLoginModel>
@if (Model.LoggedOn) {
    <div class="t_haveuser t_link">
        @Module.GetAction_Logoff(Model.LogoffUrl).Render(YetaWF.Core.Modules.ModuleAction.RenderModeEnum.NormalLinks)
    </div>
    <div class="t_haveuser t_user">
        @Module.GetAction_UserName(Model.UserUrl, Model.UserName, Model.UserTooltip).Render(YetaWF.Core.Modules.ModuleAction.RenderModeEnum.NormalLinks)
    </div>
} else {
    <div class="t_nouser t_logon">
        @Module.GetAction_Login(Model.LogonUrl).Render(YetaWF.Core.Modules.ModuleAction.RenderModeEnum.NormalLinks)
    </div>
    <div class="t_nouser t_register">
        @{ YetaWF.Core.Modules.ModuleAction action = Module.GetAction_Register(Model.RegisterUrl); }
        @if (action != null) {
            @action.Render(YetaWF.Core.Modules.ModuleAction.RenderModeEnum.NormalLinks)
        }
    </div>
}
