@charset "UTF-8";
/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/PageEdit#License */
/* PAGE CONTROL MODULE */
/* PANE TAG */
.yPaneTag {
  position: absolute;
  top: -10px;
  left: 0px;
  color: #555;
  background-color: silver;
  font-size: 9px;
  z-index: 1; }

#yPageControlDiv {
  position: absolute;
  z-index: 1510;
  left: 90px;
  top: 20px; }

#yPageControlMod {
  display: none;
  position: absolute;
  left: 40px;
  color: #555;
  background-color: #e4e3e3;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
  width: 800px;
  z-index: 1500; }
  #yPageControlMod h1 {
    font-size: 19px;
    margin-top: .5em;
    margin-bottom: .2em;
    padding: 0px 6px 6px 6px;
    line-height: 12px; }
  #yPageControlMod h1,
  #yPageControlMod a.yaction-link,
  #yPageControlMod a.yaction-link:hover,
  #yPageControlMod a.yaction-link:focus {
    color: #555; }

#yEditControlDiv {
  position: absolute;
  z-index: 1510;
  left: 20px;
  top: 20px; }

.yModule-current {
  background-color: silver; }

.yModuleMenuEditIcon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1500;
  text-align: left;
  /* in case module has a different default */ }

@media print {
  #yEditControlDiv,
  #yPageControlDiv {
    display: none; } }
