@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/PageEdit#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.PageEdit.Modules.PageEditModule, YetaWF.Modules.PageEdit.Controllers.PageEditModuleController.EditModel>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model.Page)
</div>