@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_text_base.t_edit,
.yt_text_base.t_display {
  display: inline-block;
  text-indent: .5em;
  line-height: 1.5em;
  padding: .18em 0;
  vertical-align: middle;
  background: var(--inp-bg);
  color: var(--inp-clr);
  border: var(--inp-border);
  border-radius: var(--inp-border-radius);
  outline: none; }
  .yt_text_base.t_edit:hover:not(:disabled):not(:focus),
  .yt_text_base.t_display:hover:not(:disabled):not(:focus) {
    border: var(--inp-border-hover); }
  .yt_text_base.t_edit:focus,
  .yt_text_base.t_display:focus {
    border: var(--inp-border-focus); }
  .yt_text_base.t_edit:disabled,
  .yt_text_base.t_display:disabled {
    opacity: .6; }
  .yt_text_base.t_edit.yt_text10,
  .yt_text_base.t_display.yt_text10 {
    max-width: 100%;
    width: 16ch; }
  .yt_text_base.t_edit.yt_text20,
  .yt_text_base.t_display.yt_text20 {
    max-width: 100%;
    width: 26ch; }
  .yt_text_base.t_edit.yt_text, .yt_text_base.t_edit.yt_text40,
  .yt_text_base.t_display.yt_text,
  .yt_text_base.t_display.yt_text40 {
    max-width: 100%;
    width: 38ch; }
  .yt_text_base.t_edit.yt_text80,
  .yt_text_base.t_display.yt_text80 {
    max-width: 100%;
    width: 62ch; }
  .yt_text_base.t_edit::-webkit-input-placeholder, .yt_text_base.t_display::-webkit-input-placeholder {
    opacity: 0.6; }
  .yt_text_base.t_edit:-ms-input-placeholder, .yt_text_base.t_display:-ms-input-placeholder {
    opacity: 0.6; }
  .yt_text_base.t_edit::-ms-input-placeholder, .yt_text_base.t_display::-ms-input-placeholder {
    opacity: 0.6; }
  .yt_text_base.t_edit::placeholder,
  .yt_text_base.t_display::placeholder {
    opacity: 0.6; }

.yt_text_copy {
  margin-left: .5ch; }
