/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_skin {
    .t_collection, .t_skinpage, .t_skinpopup {
        label {
            display:inline-block;
            padding-right:1ch;
            width: 25ch;
        }
    }

    &.t_edit {
        .t_collection .yt_dropdownlist_base {
            max-width:100%;
        }
        .t_skinpage .yt_dropdownlist_base,
        .t_skinpopup .yt_dropdownlist_base {
            max-width:100%;
            width:30ch;
        }
    }
}