@charset "UTF-8";
/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
div.yt_timespan.t_edit {
  display: inline;
}
div.yt_timespan.t_edit div.t_days,
div.yt_timespan.t_edit div.t_hours,
div.yt_timespan.t_edit div.t_minutes,
div.yt_timespan.t_edit div.t_seconds {
  display: inline;
  padding-right: 2ch;
}
div.yt_timespan.t_edit label {
  padding-left: 1ch;
}