@charset "UTF-8";
/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_dropdownbutton {
  outline: none;
  vertical-align: middle;
  background: var(--dd-bg);
  color: var(--dd-clr);
  border: var(--dd-border);
  border-radius: var(--dd-border-radius);
  padding: 0.3em 0.8em 0.3em 0.8em;
}
.yt_dropdownbutton:hover:not(:focus):not(:disabled) {
  background: var(--dd-bg-hover);
  color: var(--dd-clr-hover);
  border: var(--dd-border-hover);
}
.yt_dropdownbutton:focus {
  outline: none;
  background: var(--dd-bg-focus);
  color: var(--dd-clr-focus);
  border: var(--inp-border-focus);
}
.yt_dropdownbutton:disabled {
  opacity: var(--body-dis-opacity);
}
.yt_dropdownbutton:disabled .t_select {
  opacity: var(--body-dis-opacity);
}
.yt_dropdownbutton svg {
  width: 1em;
  height: 1em;
  vertical-align: initial;
}
.yt_dropdownbutton.t_mini {
  padding: 2px;
  line-height: 1;
}