@charset "UTF-8";
/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
span.k-widget.yt_intvalue {
  max-width: 100%;
  width: 14em; }

span.k-widget.yt_intvalue2 {
  max-width: 100%;
  width: 5em; }

span.k-widget.yt_intvalue4 {
  max-width: 100%;
  width: 6em; }

span.k-widget.yt_intvalue6 {
  max-width: 100%;
  width: 7em; }
