@charset "UTF-8";
/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_intvalue_base {
  max-width: 100%;
}
.yt_intvalue_base input {
  text-align: right;
  padding-right: 0.5ch;
}
.yt_intvalue_base input::-webkit-input-placeholder {
  color: var(--inp-ph-clr);
  opacity: var(--inp-ph-opacity);
}
.yt_intvalue_base input::placeholder {
  color: var(--inp-ph-clr);
  opacity: var(--inp-ph-opacity);
}
.yt_intvalue_base.yt_intvalue {
  width: 14em;
}
.yt_intvalue_base.yt_intvalue2 {
  width: 5em;
}
.yt_intvalue_base.yt_intvalue4 {
  width: 6em;
}
.yt_intvalue_base.yt_intvalue6 {
  width: 7em;
}