/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

span.k-widget {
    &.yt_intvalue {
        max-width:100%;
        width:14em;
    }
    &.yt_intvalue2 {
        max-width:100%;
        width: 5em;
    }
    &.yt_intvalue4 {
        max-width:100%;
        width: 6em;
    }
    &.yt_intvalue6 {
        max-width:100%;
        width: 7em;
    }
}
