@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Visitors#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Visitors.Modules.VisitorsModule, object>
<div class="@YetaWF.Core.Globals.CssDivWarning">
    @Html.Raw(__ResStr("unavailable", "Visitor information is not available - See <a href='https://yetawf.com/Documentation/YetaWF/Visitors' target='_blank'>https://yetawf.com/Documentation/YetaWF/Visitors</a> for additional information."))
</div>