@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.y_button, .y_buttonform {
  background: var(--button-bg);
  color: var(--button-clr);
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.8em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  text-decoration: none;
  border: var(--button-border);
  border-radius: var(--button-border-radius); }
  .y_button.y_button_sm, .y_buttonform.y_button_sm {
    line-height: 1;
    padding-left: 0;
    padding-right: 0; }
  .y_button.y_button_outline, .y_buttonform.y_button_outline {
    background: var(--body-bg);
    color: var(--body-clr); }
  .y_button:not(:disabled), .y_buttonform:not(:disabled) {
    cursor: pointer; }
  .y_button:hover:not(:disabled), .y_buttonform:hover:not(:disabled) {
    text-decoration: none;
    background: var(--button-bg-hover);
    color: var(--button-clr-hover); }
  .y_button:disabled, .y_buttonform:disabled {
    text-decoration: none;
    cursor: default;
    opacity: var(--body-dis-opacity); }
  .y_button:focus, .y_buttonform:focus {
    outline: 0;
    text-decoration: none;
    background: var(--button-bg-focus);
    color: var(--button-clr-focus); }

.y_buttonform {
  margin: 3px;
  box-shadow: var(--button-shadow); }
  .y_buttonform:focus {
    box-shadow: var(--button-focus-shadow); }

a.y_button, a.y_button:hover {
  text-decoration: none;
  display: inline-block; }

@media print {
  .y_button {
    display: none; } }

button.y_buttonlite,
button.y_buttonlite_text {
  background: var(--buttonlite-bg);
  color: var(--buttonlite-clr);
  line-height: 0;
  padding: .2em;
  border: var(--buttonlite-border);
  border-radius: var(--buttonlite-border-radius); }
  button.y_buttonlite:not(:disabled),
  button.y_buttonlite_text:not(:disabled) {
    cursor: pointer; }
  button.y_buttonlite:hover:not(:disabled):not(:focus),
  button.y_buttonlite_text:hover:not(:disabled):not(:focus) {
    background: var(--buttonlite-bg-hover);
    color: var(--buttonlite-clr-hover); }
  button.y_buttonlite:disabled,
  button.y_buttonlite_text:disabled {
    cursor: default;
    opacity: var(--body-dis-opacity); }
  button.y_buttonlite:focus,
  button.y_buttonlite_text:focus {
    outline: 0;
    background: var(--buttonlite-bg-focus);
    color: var(--buttonlite-clr-focus); }
  button.y_buttonlite svg,
  button.y_buttonlite_text svg {
    width: 1em;
    height: 1em; }

button.y_buttonlite_text {
  line-height: 1em; }
