/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.y_button, .y_buttonform {
    background: var(--button-bg);
    color: var(--button-clr);
    padding-left: 1em;
    padding-right: 1em;
    line-height:1.8em;
    text-shadow: 0 1px 0 rgba(0,0,0,0.05);
    text-decoration: none;
    &.y_button_sm {
        line-height: 1;
        padding-left: 0;
        padding-right: 0;
    }
    &.y_button_outline { // use body background instead of button background
        background: var(--body-bg);
        color: var(--body-clr);
    }
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    &:not(:disabled) {
        cursor: pointer;
    }
    &:hover:not(:disabled) {
        text-decoration: none;
        background: var(--button-bg-hover);
        color: var(--button-clr-hover);
    }
    &:disabled {
        text-decoration: none;
        cursor: default;
        opacity: var(--body-dis-opacity);
    }
    &:focus {
        outline: 0;
        text-decoration: none;
        background: var(--button-bg-focus);
        color: var(--button-clr-focus);
    }
}

.y_buttonform {
    margin-right:3px;// so outline,shadow is not clipped
    margin-left:3px;// so outline,shadow is not clipped
    box-shadow: var(--button-shadow);
    &:focus {
        box-shadow: var(--button-focus-shadow);
    }
}

a.y_button, a.y_button:hover {
    text-decoration: none;
    display:inline-block;
}

@media print {
    .y_button {
        display: none;
    }
}

button.y_buttonlite, /* only intended with icons (no text) */
button.y_buttonlite_text /* text only*/ {
    background: var(--buttonlite-bg);
    color: var(--buttonlite-clr);
    line-height: 0;
    padding: .2em;
    border: var(--buttonlite-border);
    border-radius: var(--buttonlite-border-radius);
    &:not(:disabled) {
        cursor: pointer;
    }
    &:hover:not(:disabled):not(:focus) {
        background: var(--buttonlite-bg-hover);
        color: var(--buttonlite-clr-hover);
    }
    &:disabled {
        cursor: default;
        opacity: var(--body-dis-opacity);;
    }
    &:focus {
        outline: 0;
        background: var(--buttonlite-bg-focus);
        color: var(--buttonlite-clr-focus);
    }
    svg {
        width:1em;
        height:1em;
    }
}
button.y_buttonlite_text /* text only*/ {
    line-height:1em;
}
