/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.v-valid {
    display:none;
}

/* Icon/sprite */

i.yic {

    $width: 16px;
    $height: 16px;

    &.yic_componentshtml_modprev {
        background: url(IconCollection.png) 0px 0px no-repeat;
    }
    &.yic_componentshtml_pageprev {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-x: -1*$width;
    }
    &.yic_componentshtml_textcopy {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-x: -2*$width;
    }
    &.yic_componentshtml_textareasrccopy {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-x: -3*$width;
    }
    &.yic_componentshtml_urlremote {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-x: -4*$width;
    }
    &.yic_componentshtml_modmenuedit {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-y: -1*$height;
    }
}

/* tooltip */

.yTooltip {
    background: var(--tt-bg);
    color: var(--tt-clr);
    font:var(--tt-font);

    border: var(--tt-border);
    border-radius:var(--tt-border-radius);
    box-shadow: var(--tt-shadow);

    padding: 8px 10px;

    position: absolute;
    max-width:300px;

    display:none;// so we can fade in
    z-index:20000;

    overflow:hidden;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    /*word-break: break-all;*/
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    /*hyphens: auto;*/
}
@media print {
    .yTooltip {
        display:none !important;
    }
}

/* Toast */

#ytoast {
    z-index:4001; // keep above overlay and all popups
    position:fixed;
    bottom:0;
    width:300px;
    margin-bottom:0;
    padding-bottom:0;

    @media (min-width: 500px) {
        width:400px;
        padding-bottom:2em;
    }

    overflow: hidden;
    .t_entry {
        position:relative;
        border: var(--tst-border);
        margin:1ch;
        padding:1ch;
        border-radius:var(--tst-border-radius);
        .t_title {
            font: var(--tst-title-font);
            margin-bottom: .5em;
        }
        .t_message {
            font: var(--tst-msg-font);
        }
        &.t_info {
            color: var(--tst-info-clr);
            background: var(--tst-info-bg);
            box-shadow: var(--tst-info-shadow);
            .t_title {
                border-bottom: var(--tst-info-line);
            }
        }
        &.t_error {
            color: var(--tst-error-clr);
            background: var(--tst-error-bg);
            box-shadow: var(--tst-error-shadow);
            .t_title {
                border-bottom: var(--tst-error-line);
            }
        }
        &.t_warning {
            color: var(--tst-warn-clr);
            background: var(--tst-warn-bg);
            box-shadow: var(--tst-warn-shadow);
            .t_title {
                border-bottom: var(--tst-warn-line);
            }
        }
        .t_close {
            cursor: pointer;
            svg {
                width: 12px;
                height: 12px;
            }
            position: absolute;
            top: 0px;
            right: 5px;
        }
    }
    &.t_right {
        right: 0;
        @media (min-width: 500px) {
            right: 5ch;
        }
    }
    &.t_left {
        left: 0;
        @media (min-width: 500px) {
            left: 5ch;
        }
    }
    @media print {
        display:none;
    }
}

/* Print */
//TODO: MOVE
@media print {
    .cke .cke_top {
        display: none;
    }
}
