@charset "UTF-8";
/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.v-valid {
  display: none; }

/* Icon/sprite */
i.yic.yic_componentshtml_modprev {
  background: url(IconCollection.png) 0px 0px no-repeat; }

i.yic.yic_componentshtml_pageprev {
  background: url(IconCollection.png) 0px 0px no-repeat;
  background-position-x: -16px; }

i.yic.yic_componentshtml_textcopy {
  background: url(IconCollection.png) 0px 0px no-repeat;
  background-position-x: -32px; }

i.yic.yic_componentshtml_textareasrccopy {
  background: url(IconCollection.png) 0px 0px no-repeat;
  background-position-x: -48px; }

i.yic.yic_componentshtml_urlremote {
  background: url(IconCollection.png) 0px 0px no-repeat;
  background-position-x: -64px; }

i.yic.yic_componentshtml_modmenuedit {
  background: url(IconCollection.png) 0px 0px no-repeat;
  background-position-y: -16px; }

/* tooltip */
.yTooltip {
  background: #FFF;
  color: #555;
  border-radius: 4px;
  border: solid 1px silver;
  padding: 8px 10px;
  font-size: 12px;
  box-shadow: 5px 5px lightgray;
  position: absolute;
  max-width: 300px;
  display: none;
  z-index: 20000;
  overflow: hidden;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  /*word-break: break-all;*/
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  /*hyphens: auto;*/ }

@media print {
  .yTooltip {
    display: none !important; } }

/* Ui overlay leaves horizontal stripe without this fix*/
.ui-widget-overlay {
  background: #333; }

/* popups */
.k-widget.k-window {
  z-index: 2000 !important; }

.k-overlay {
  z-index: 1999 !important; }

.ui-dialog {
  z-index: 2002 !important;
  /* 2001 for overlay */ }

/* To keep ui dialogs on top of everything */
.ui-front {
  z-index: 3000; }

/* Toast */
#ytoast {
  position: fixed;
  bottom: 0;
  width: 300px;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden; }
  @media (min-width: 500px) {
    #ytoast {
      width: 400px;
      padding-bottom: 2em; } }
  #ytoast .t_entry {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1ch;
    padding: 1ch;
    border-radius: 5px; }
    #ytoast .t_entry.t_info .t_title {
      border-bottom: 1px solid #ddd; }
    #ytoast .t_entry.t_error .t_title {
      border-bottom: 1px solid #ddd; }
    #ytoast .t_entry.t_warning .t_title {
      border-bottom: 1px solid #ddd; }
    #ytoast .t_entry .t_title {
      margin-bottom: .5em;
      font-weight: bold; }
    #ytoast .t_entry.t_info {
      color: #555;
      background-color: #9bef9f;
      box-shadow: 0px 0px 5px 0px #aaa; }
    #ytoast .t_entry.t_error {
      color: white;
      background-color: red;
      box-shadow: 0px 0px 5px 0px #aaa; }
    #ytoast .t_entry.t_warning {
      color: #555;
      background-color: lightgreen;
      box-shadow: 0px 0px 5px 0px #aaa; }
    #ytoast .t_entry .t_message {
      font-weight: 500; }
    #ytoast .t_entry .t_close {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 5px;
      right: 5px;
      background-image: url(images/Close.png); }
  #ytoast.t_right {
    right: 0; }
    @media (min-width: 500px) {
      #ytoast.t_right {
        right: 5ch; } }
  #ytoast.t_left {
    left: 0; }
    @media (min-width: 500px) {
      #ytoast.t_left {
        left: 5ch; } }

/* Print */
@media print {
  .cke .cke_top {
    display: none; } }
