/* Copyright � 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.v-valid {
    display:none;
}

/* Icon/sprite */

i.yic {

    $width: 16px;
    $height: 16px;

    &.yic_componentshtml_modprev {
        background: url(IconCollection.png) 0px 0px no-repeat;
    }
    &.yic_componentshtml_pageprev {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-x: -1*$width;
    }
    &.yic_componentshtml_textcopy {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-x: -2*$width;
    }
    &.yic_componentshtml_textareasrccopy {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-x: -3*$width;
    }
    &.yic_componentshtml_urlremote {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-x: -4*$width;
    }
    &.yic_componentshtml_modmenuedit {
        background: url(IconCollection.png) 0px 0px no-repeat;
        background-position-y: -1*$height;
    }
}

/* tooltip */

.yTooltip {
    background: #FFF;
    color: #555;

    border-radius:4px;
    border: solid 1px silver;
    padding: 8px 10px;
    font-size:12px;

    box-shadow: 5px 5px lightgray;

    position: absolute;
    max-width:300px;

    display:none;// so we can fade in
    z-index:20000;

    overflow:hidden;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    /*word-break: break-all;*/
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    /*hyphens: auto;*/
}
@media print {
    .yTooltip {
        display:none !important;
    }
}

/* Ui overlay leaves horizontal stripe without this fix*/
.ui-widget-overlay {
    background: #333;
}

/* popups */
.k-widget.k-window {
    z-index:2000 !important;
}
.k-overlay {
    z-index:1999 !important;
}
.ui-dialog {
    z-index:2002 !important;
    /* 2001 for overlay */
}

/* To keep ui dialogs on top of everything */
.ui-front {
    z-index: 3000;
}

/* Print */

@media print {
    .cke .cke_top {
        display: none;
    }
}
