/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

#yDialogContainer {

    position: fixed;
    z-index: 3001 !important;
    font: var(--body-font);
    background: var(--dialog-bg);
    color: var(--dialog-clr);
    border: var(--elem-border-width) solid var(--elem-border-clr);
    border-radius: var(--tbl-border-radius);

    width:400px;
    padding: .2em;

    .t_titlebar {
        background: var(--dialog-title-bg);
        color: var(--dialog-title-clr);
        cursor: move;
        padding: .4em .5em .4em 1em;
        position: relative;
        border: var(--elem-border-width) solid var(--elem-border-clr);
        border-radius: var(--tbl-border-radius);
        font: var(--dialog-title-font);
    }
    .t_close {
        float:right;
        margin-left:.5em;
        svg {
            width:16px;
            height:16px;
        }
    }

    .t_content {
        width: auto;
        min-height: 2em;
        max-height: none;
        height: auto;
        padding: .5em 1em .5em 1em;
        overflow: auto;
    }
    .t_buttonpane {
        padding: .5em .5em .4em .5em;
        border-top: var(--elem-border-width) solid var(--dialog-line-clr);
    }
    .t_buttons {
        text-align: right;
    }
}

#yDialogOverlay {
    z-index:2001 !important;
    background: var(--overlay-bg);
    opacity: var(--overlay-opacity);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
