/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

/* POPUP */
/* POPUP */
/* POPUP */

#ypopup {

    position: fixed;

    &.ui-dialog {
       z-index:2002 !important;
    }

    display: flex;
    flex-direction: column;
    overflow:hidden;

    iframe.ui-dialog-content {
        padding:0;
        margin:0;
        height:100%;
        max-height:none;
    }
    #ypopupContent.ui-dialog-content {
        margin:0;
        padding: .5em 1em;
    }
}

.ui-widget-overlay.ui-front {
    z-index:2001 !important;
}

body.yPopup {
    padding: .5em 1em;
    height:100%;

}
body.yPopup,
#ypopup.yPopupDyn {
    .yPane .yModule {
        margin:0;
        padding:0;
    }
}

@media print {
    #ypopup { /* Don't show popups for print/print preview */
        display: none;
    }
}

