/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

/* POPUP */
/* POPUP */
/* POPUP */

#ypopup {
    display: flex;
    flex-direction: column;
    overflow:hidden;

    iframe.ui-dialog-content {
        padding:0;
        height:100%;
        max-height:none;
    }
}

body.yPopup {
    padding: .5em 1em;
    height:100%;
}

@media print {
    #ypopup { /* Don't show popups for print/print preview */
        display: none;
    }
}

