@charset "UTF-8";
/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
/* POPUP */
/* POPUP */
/* POPUP */
#ypopup {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  overflow: hidden; }
  #ypopup.ui-dialog {
    z-index: 2002 !important; }
  #ypopup iframe.ui-dialog-content {
    padding: 0;
    height: 100%;
    max-height: none; }

.ui-widget-overlay.ui-front {
  z-index: 2001 !important; }

body.yPopup {
  padding: .5em 1em;
  height: 100%; }

@media print {
  #ypopup {
    /* Don't show popups for print/print preview */
    display: none; } }
