/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

$w: 1em;
$h: 1em;
$selwidth: 2em;


.yt_datetime.t_edit {
    display:inline;

    display: inline-block;
    vertical-align: middle;

    position:relative;
    width: auto;
    padding-right: $selwidth * 2;

    background: var(--dd-bg);
    color: var(--dd-clr);

    border: var(--dd-border);
    border-radius: var(--dd-border-radius);

    input[type='text'] {
        line-height: 1.5em;
        padding: .18em 0.2em;
        width: 20ch;

        background: var(--inp-bg);
        color: var(--inp-clr);

        border: var(--dd-border);
        border-color: var(--inp-bg);
        border-radius: var(--dd-border-radius);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        outline:none;
        text-overflow: ellipsis;
        &:focus {
            text-overflow:clip;
        }
    }
    &:hover:not(.t_disabled):not(.t_focused) {
        background: var(--dd-bg-hover);
        color: var(--dd-clr-hover);
        border: var(--dd-border-hover);
    }
    &.t_focused {
        background: var(--dd-bg-focus);
        color: var(--dd-clr-focus);
        border: var(--dd-border-focus);
    }
    &.t_disabled {
        opacity: var(--body-dis-opacity);
    }
    &.t_readonly {
        opacity: var(--body-dis-opacity);
    }

    .t_sels {
        position: absolute;
        top: 0; bottom: 0;
        right:0;
        width: $selwidth * 2;
        text-align: center;
        border-left: var(--dd-border);
        .t_date {
            display:inline-block;
            width:1.5em;
            height:100%;
            cursor: pointer;
            svg {
                width:$w;
                height:100%;
                vertical-align:middle;
            }
        }
        .t_time {
            display:inline-block;
            width:1.5em;
            height:100%;
            cursor: pointer;
            svg {
                width:$w;
                height:100%;
                vertical-align:middle;
            }
        }
    }
}

.yt_date.t_edit,
.yt_time.t_edit,
.yt_timeofday.t_edit {
    padding-right: $selwidth;
    .t_sels {
        width: $selwidth;
    }
}
.yt_date.t_edit {
    input[type='text'] {
        width: 14ch;
    }
}
.yt_time.t_edit,
.yt_timeofday.t_edit {
    input[type='text'] {
        width: 10ch;
    }
}


#yt_datetime_popup {
    position: absolute;
    z-index:2500;
    .t_container {
        padding:.12em;
        background: var(--dd-p-bg);
        color: var(--dd-p-clr);
        border: var(--dd-p-border);
        border-radius: var(--dd-p-border-radius);
        box-shadow: var(--dd-p-shadow);
        .t_scroller {
            overflow: auto;
            .t_list {
                outline: 0;
                list-style: none;
                padding-left: 0;
                margin:0;
                height:auto;
                max-height:250px;
                li {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0 .25em;
                    line-height: 1.8em;
                    min-height: 1.8em;
                    cursor: default;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    &:hover:not(.t_focused):not(.t_selected) {
                        background: var(--dd-p-bg-hover);
                        color: var(--dd-p-clr-hover);
                    }
                    &.t_focused, &.t_selected {
                        background: var(--dd-p-bg-focus);
                        color: var(--dd-p-clr-focus);
                        box-shadow: var(--dd-p-shadow-focus);
                    }
                }
            }
        }
    }
}

#yt_datetime_calendarpopup {
    position: absolute;
    z-index:2500;
    box-sizing: content-box;
    .t_container {
        padding:.12em;
        background: var(--dd-p-bg);
        color: var(--dd-p-clr);
        border: var(--dd-p-border);
        border-radius: var(--dd-p-border-radius);
        box-shadow: var(--dd-p-shadow);
        .t_header {
            position: relative;
            width: 100%;
            background: var(--tbl-header-bg); // abusing table vars
            color: var(--tbl-header-clr);
            border:none;
            text-align: center;
            padding: .3em 0;
            .t_title {
                text-decoration: none;
                .t_month, .t_year {
                    padding: .1em .2em;
                    cursor: pointer;
                    &:hover {
                        background: var(--tbl-header-bg-hover);
                        color: var(--tbl-header-clr-hover);
                    }
                }
            }
            .t_prev, .t_next {
                svg {
                    position: absolute;
                    top: 0;
                    bottom: 0px;
                    width:1em;
                    height:1em;
                    margin:.1em;
                    padding: .3em;
                    &:hover {
                        background: var(--tbl-header-bg-hover);
                        color: var(--tbl-header-clr-hover);
                    }
                }
            }
            .t_prev svg { left: 0;}
            .t_next svg { right: 0;}
        }
        .t_calendarbody {
            table {
                outline: none;
                width:100%;
                th {
                    padding: .25em .15px;
                    text-align: center;
                    font-weight: 400;
                    cursor: default;
                    text-align: center;
                    background: var(--dd-p-bg);
                    color: var(--dd-p-clr);
                    border-top: var(--dd-p-border);
                    border-bottom: var(--dd-p-border);
                    border-radius: 0 0 var(--dd-p-border-radius) var(--dd-p-border-radius);
                }
                tr {
                    height: 2.5em;
                }
                td {
                    font-weight: 400;
                    cursor: default;
                    text-align: center;
                    background: var(--dd-p-bg);
                    color: var(--dd-p-clr);
                    border-radius: var(--buttonlite-border-radius);
                    .t_link {
                        background: var(--dd-p-bg);
                        color: var(--dd-p-clr);
                        width:2.5em;
                        height:2.5em;
                        margin: auto;
                        padding: .5em .5em;
                        text-decoration: none;
                        opacity:1;
                    }
                    &.t_today,
                    &.t_today .t_link {
                        background: var(--dd-p-bg-focus);
                        color: var(--dd-p-clr-focus);
                        opacity:.7;
                        //box-shadow: inset 0 0 0 3px var(--dd-p-bg-hover);
                    }
                    &.t_selected,
                    &.t_selected .t_link {
                        background: var(--dd-p-bg-focus);
                        color: var(--dd-p-clr-focus);
                        opacity:1;
                    }
                    &.t_hover,
                    &.t_hover .t_link {
                        background: var(--dd-p-bg-hover);
                        color: var(--dd-p-clr-hover);
                        opacity:1;
                        box-shadow: none;
                    }
                    &.t_othermonth:not(.t_today) {
                        opacity:.7;
                    }
                    &.t_weekend:not(.t_today) {
                        opacity:.5;
                    }
                }
            }
        }
        .t_footer {
            padding:.3em;
            text-align:center;
            // a {
            //     text-decoration: none;
            // }
        }
    }
}