@charset "UTF-8";
/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Languages#License */
.yt_yetawf_languages_localizeenums .t_enumtype {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold; }

.yt_yetawf_languages_localizeenums div.t_name {
  float: left;
  width: 30ch; }

.yt_yetawf_languages_localizeenums div.t_enumvars {
  float: left; }
