/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

// Max menu sublevels 2

ul.yt_menu.t_display.t_large {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: var(--mm-0-padding);
    margin:0;
    list-style:none;

    background: var(--mm-0-bg);
    color: var(--mm-0-clr);
    border: var(--mm-0-border);
    border-radius: var(--mm-0-border-radius);

    > li { // Main level

        position: relative;
        list-style: none;
        line-height:1;
        cursor:pointer;

        padding:0;
        margin:0;

        background: var(--mm-0-bg);
        color: var(--mm-0-clr);
        font: var(--mm-0-font);

        > a {
            display:flex;
            align-items: center;
            outline:none;
            text-decoration: none;

            padding:var(--mm-0-a-padding);
            margin: 0;

            background: var(--mm-0-a-bg);
            color: var(--mm-0-a-clr);
            font: var(--mm-0-font);

            &.t_path {
                background: var(--mm-0-a-bg-path);
                color: var(--mm-0-a-clr-path);
            }
            &:hover, &:focus {
                background: var(--mm-0-a-bg-hover);
                color: var(--mm-0-a-clr-hover);
            }
            svg {
                margin-left: .5ch;
                width: var(--mm-0-ddwidth);
                height: var(--mm-0-ddheight);
            }
        }
        > ul {
            position:absolute;
            z-index:1000;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            padding:var(--mm-1-padding);
            margin:0;
            list-style:none;

            background: var(--mm-1-bg);
            color: var(--mm-1-clr);
            border: var(--mm-1-border);
            border-radius: var(--mm-1-border-radius);

            &.t_megamenu_content {
                width: var(--mm-1-mm-width);
            }

            > li {

                position: relative;
                list-style: none;
                line-height:1;
                cursor:pointer;

                margin:0;
                padding:0;

                height:auto;
                width:auto;

                background: var(--mm-1-bg);
                color: var(--mm-1-clr);
                font: var(--mm-1-font);

                &.t_megamenu_content {
                    background: var(--mm-1-mm-bg);
                    color: var(--mm-1-mm-clr);
                    font: var(--mm-1-mm-font);
                    a, a:hover, a:focus {
                        color: var(--mm-1-mm-clr);
                    }
                }

                > a {
                    position:relative;
                    display:flex;
                    align-items: center;
                    outline:none;
                    text-decoration: none;

                    padding: var(--mm-1-a-padding);
                    margin: 0;

                    background: var(--mm-1-a-bg);
                    color: var(--mm-1-a-clr);
                    font: var(--mm-1-font);

                    &.t_path {
                        background: var(--mm-1-a-bg-path);
                        color: var(--mm-1-a-clr-path);
                    }
                    &:hover, &:focus {
                        background: var(--mm-1-a-bg-hover);
                        color: var(--mm-1-a-clr-hover);
                    }
                    i, img {
                        margin-right:.5ch;
                    }
                    svg {
                        margin-left: auto;
                        width: var(--mm-1-ddwidth);
                        height: var(--mm-1-ddheight);
                    }
                }
                > ul {
                    position:absolute;
                    z-index:1000;

                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;

                    padding:var(--mm-2-padding);
                    margin:0;
                    list-style:none;

                    background: var(--mm-2-bg);
                    color: var(--mm-2-clr);
                    border: var(--mm-2-border);
                    border-radius: var(--mm-2-border-radius);

                    > li {

                        position: relative;
                        list-style: none;
                        line-height:1;
                        cursor:pointer;

                        margin:0;
                        padding:0;

                        height:auto;
                        width:auto;

                        background: var(--mm-2-bg);
                        color: var(--mm-2-clr);
                        font: var(--mm-2-font);

                        > a {
                            position:relative;
                            display:flex;
                            align-items: center;
                            outline:none;
                            text-decoration: none;

                            padding: var(--mm-2-a-padding);
                            margin: 0;

                            background: var(--mm-2-a-bg);
                            color: var(--mm-2-a-clr);
                            font: var(--mm-2-font);

                            &.t_path {
                                background: var(--mm-2-a-bg-path);
                                color: var(--mm-2-a-clr-path);
                            }
                            &:hover, &:focus {
                                background: var(--mm-2-a-bg-hover);
                                color: var(--mm-2-a-clr-hover);
                            }
                            i, img {
                                margin-right:.5ch;
                            }
                            svg {
                                margin-left: auto;
                                right: .5em;
                                width: var(--mm-2-ddwidth);
                                height: var(--mm-2-ddheight);
                            }
                        }
                        > ul {
                            position:absolute;
                            z-index:1000;

                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;

                            padding:var(--mm-2-padding);
                            margin:0;
                            list-style:none;

                            background: var(--mm-2-bg);
                            color: var(--mm-2-clr);
                            border: var(--mm-2-border);
                            border-radius: var(--mm-2-border-radius);

                            > li {

                                position: relative;
                                list-style: none;
                                line-height:1;
                                cursor:pointer;

                                margin:0;
                                padding:0;

                                height:auto;
                                width:auto;

                                background: var(--mm-2-bg);
                                color: var(--mm-2-clr);
                                font: var(--mm-2-font);

                                > a {
                                    position:relative;
                                    display:flex;
                                    align-items: center;
                                    outline:none;
                                    text-decoration: none;

                                    padding: var(--mm-2-a-padding);
                                    margin: 0;

                                    background: var(--mm-2-a-bg);
                                    color: var(--mm-2-a-clr);
                                    font: var(--mm-2-font);

                                    &.t_path {
                                        background: var(--mm-2-a-bg-path);
                                        color: var(--mm-2-a-clr-path);
                                    }
                                    &:hover, &:focus {
                                        background: var(--mm-2-a-bg-hover);
                                        color: var(--mm-2-a-clr-hover);
                                    }
                                    i, img {
                                        margin-right:.5ch;
                                    }
                                    svg {
                                        margin-left: auto;
                                        right: .5em;
                                        width: var(--mm-2-ddwidth);
                                        height: var(--mm-2-ddheight);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

ul.yt_menu.t_display.t_small {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding: var(--mm-0-padding);
    margin:0;
    list-style:none;

    background: var(--mm-0-bg);
    color: var(--mm-0-clr);
    border: var(--mm-0-border);
    border-radius: var(--mm-0-border-radius);

    > li { // Main level

        list-style: none;
        line-height:1;

        background: var(--mm-0-bg);
        color: var(--mm-0-clr);
        font: var(--mm-0-font);

        > a {
            display:block;
            outline:none;
            text-decoration: none;

            padding: var(--mm-0-a-small-padding);

            background: var(--mm-0-a-bg);
            color: var(--mm-0-a-clr);

            &.t_path {
                background: var(--mm-0-a-bg-path);
                color: var(--mm-0-a-clr-path);
            }
            &:hover, &:focus {
                background: var(--mm-0-a-bg-hover);
                color: var(--mm-0-a-clr-hover);
            }
            svg {
                border: var(--mm-svg-small-border);
                border-radius: var(--mm-svg-small-border-radius);
                float:right;
                vertical-align: top;
                margin-left: 1ch;
                width: var(--mm-0-ddwidth);
                height: var(--mm-0-ddheight);
            }
        }
        > ul {

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 95%;
            overflow: hidden;

            margin: var(--mm-1-small-margin);
            padding: var(--mm-1-small-padding);
            list-style:none;

            background: var(--mm-1-bg);
            color: var(--mm-1-clr);
            border: var(--mm-1-border);
            border-radius: var(--mm-1-border-radius);

            &.t_megamenu_content {
                width: 85%;
            }

            > li {

                list-style: none;
                line-height:1;

                margin:0;
                padding:0;

                height:auto;
                width:auto;

                background: var(--mm-1-bg);
                color: var(--mm-1-clr);
                font: var(--mm-1-font);

                &.t_megamenu_content {
                    background: var(--mm-1-mm-bg);
                    color: var(--mm-1-mm-clr);
                    font: var(--mm-1-mm-font);
                    a, a:hover, a:focus {
                        color: var(--mm-1-mm-clr);
                    }
                }

                > a {
                    position: relative;
                    display: block;
                    outline: none;
                    padding: var(--mm-1-a-small-padding);
                    text-decoration: none;

                    background: var(--mm-1-a-bg);
                    color: var(--mm-1-a-clr);

                    &.t_path {
                        background: var(--mm-1-a-bg-path);
                        color: var(--mm-1-a-clr-path);
                    }
                    &:hover, &:focus {
                        background: var(--mm-1-a-bg-hover);
                        color: var(--mm-1-a-clr-hover);
                    }
                    i, img {
                        margin-right:.5ch;
                    }
                    svg {
                        position: absolute;
                        vertical-align: middle;
                        right: .5em;
                        width: var(--mm-1-ddwidth);
                        height: var(--mm-1-ddheight);
                        border: var(--mm-svg-small-border);
                        border-radius: var(--mm-svg-small-border-radius);
                    }
                }
                > ul {

                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    width: 90%;
                    overflow: hidden;

                    margin: var(--mm-2-small-margin);
                    padding:var(--mm-2-small-padding);
                    list-style:none;

                    background: var(--mm-2-bg);
                    color: var(--mm-2-clr);
                    border: var(--mm-2-border);
                    border-radius: var(--mm-2-border-radius);

                    > li {

                        list-style: none;
                        line-height:1;

                        margin:0;
                        padding:0;

                        height:auto;
                        width:auto;

                        background: var(--mm-2-bg);
                        color: var(--mm-2-clr);
                        font: var(--mm-2-font);

                        > a {
                            position: relative;
                            display:block;
                            outline:none;
                            padding: var(--mm-2-a-small-padding);
                            text-decoration: none;

                            background: var(--mm-2-a-bg);
                            color: var(--mm-2-a-clr);

                            &.t_path {
                                background: var(--mm-2-a-bg-path);
                                color: var(--mm-2-a-clr-path);
                            }
                            &:hover, &:focus {
                                background: var(--mm-2-a-bg-hover);
                                color: var(--mm-2-a-clr-hover);
                            }
                            i, img {
                                margin-right:.5ch;
                            }
                            svg {
                                position: absolute;
                                vertical-align: middle;
                                right: .5em;
                                width: var(--mm-2-ddwidth);
                                height: var(--mm-2-ddheight);
                                border: var(--mm-svg-small-border);
                                border-radius: var(--mm-svg-small-border-radius);
                            }
                        }
                        > ul {

                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;
                            width: 90%;
                            overflow: hidden;

                            margin: var(--mm-2-small-margin);
                            padding:var(--mm-2-small-padding);
                            list-style:none;

                            background: var(--mm-2-bg);
                            color: var(--mm-2-clr);
                            border: var(--mm-2-border);
                            border-radius: var(--mm-2-border-radius);

                            > li {

                                list-style: none;
                                line-height:1;

                                margin:0;
                                padding:0;

                                height:auto;
                                width:auto;

                                background: var(--mm-2-bg);
                                color: var(--mm-2-clr);
                                font: var(--mm-2-font);

                                > a {
                                    position: relative;
                                    display:block;
                                    outline:none;
                                    padding: var(--mm-2-a-small-padding);
                                    text-decoration: none;

                                    background: var(--mm-2-a-bg);
                                    color: var(--mm-2-a-clr);

                                    &.t_path {
                                        background: var(--mm-2-a-bg-path);
                                        color: var(--mm-2-a-clr-path);
                                    }
                                    &:hover, &:focus {
                                        background: var(--mm-2-a-bg-hover);
                                        color: var(--mm-2-a-clr-hover);
                                    }
                                    i, img {
                                        margin-right:.5ch;
                                    }
                                    svg {
                                        position: absolute;
                                        vertical-align: middle;
                                        right: .5em;
                                        width: var(--mm-2-ddwidth);
                                        height: var(--mm-2-ddheight);
                                        border: var(--mm-svg-small-border);
                                        border-radius: var(--mm-svg-small-border-radius);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

