@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_menu.t_display.t_large > ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  padding: var(--mm-0-padding);
  margin: 0;
  list-style: none;
  background-color: var(--mm-0-bg);
  color: var(--mm-0-clr);
  border: var(--mm-0-border);
  border-radius: var(--mm-0-border-radius); }
  .yt_menu.t_display.t_large > ul > li {
    position: relative;
    list-style: none;
    line-height: 1;
    background-color: var(--mm-0-bg);
    color: var(--mm-0-clr);
    font: var(--mm-0-font); }
    .yt_menu.t_display.t_large > ul > li > a {
      display: block;
      outline: none;
      text-decoration: none;
      padding: var(--mm-0-a-padding);
      background-color: var(--mm-0-a-bg);
      color: var(--mm-0-a-clr); }
      .yt_menu.t_display.t_large > ul > li > a.t_path {
        background-color: var(--mm-0-a-bg-path);
        color: var(--mm-0-a-clr-path); }
      .yt_menu.t_display.t_large > ul > li > a:hover, .yt_menu.t_display.t_large > ul > li > a:focus {
        background-color: var(--mm-0-a-bg-hover);
        color: var(--mm-0-a-clr-hover); }
      .yt_menu.t_display.t_large > ul > li > a svg {
        vertical-align: top;
        padding-left: 1ch;
        width: var(--mm-0-ddwidth);
        height: var(--mm-0-ddheight); }
    .yt_menu.t_display.t_large > ul > li > ul {
      position: absolute;
      z-index: 1000;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      flex-wrap: nowrap;
      padding: var(--mm-1-padding);
      margin: 0;
      list-style: none;
      background-color: var(--mm-1-bg);
      color: var(--mm-1-clr);
      border: var(--mm-1-border);
      border-radius: var(--mm-1-border-radius); }
      .yt_menu.t_display.t_large > ul > li > ul.t_megamenu_content {
        width: var(--mm-1-mm-width); }
      .yt_menu.t_display.t_large > ul > li > ul > li {
        position: relative;
        list-style: none;
        line-height: 1;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        background-color: var(--mm-1-bg);
        color: var(--mm-1-clr);
        font: var(--mm-1-font); }
        .yt_menu.t_display.t_large > ul > li > ul > li.t_megamenu_content {
          background-color: var(--mm-1-mm-bg);
          color: var(--mm-1-mm-clr);
          font: var(--mm-1-mm-font); }
        .yt_menu.t_display.t_large > ul > li > ul > li > a {
          display: block;
          outline: none;
          padding: var(--mm-1-a-padding);
          text-decoration: none;
          background-color: var(--mm-1-a-bg);
          color: var(--mm-1-a-clr); }
          .yt_menu.t_display.t_large > ul > li > ul > li > a.t_path {
            background-color: var(--mm-1-a-bg-path);
            color: var(--mm-1-a-clr-path); }
          .yt_menu.t_display.t_large > ul > li > ul > li > a:hover, .yt_menu.t_display.t_large > ul > li > ul > li > a:focus {
            background-color: var(--mm-1-a-bg-hover);
            color: var(--mm-1-a-clr-hover); }
          .yt_menu.t_display.t_large > ul > li > ul > li > a i {
            margin-right: .5ch; }
          .yt_menu.t_display.t_large > ul > li > ul > li > a svg {
            vertical-align: top;
            float: right;
            width: var(--mm-1-ddwidth);
            height: var(--mm-1-ddheight); }
        .yt_menu.t_display.t_large > ul > li > ul > li > ul {
          position: absolute;
          z-index: 1000;
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column;
          flex-wrap: nowrap;
          padding: var(--mm-2-padding);
          margin: 0;
          list-style: none;
          background-color: var(--mm-2-bg);
          color: var(--mm-2-clr);
          border: var(--mm-2-border);
          border-radius: var(--mm-2-border-radius); }
          .yt_menu.t_display.t_large > ul > li > ul > li > ul > li {
            position: relative;
            list-style: none;
            line-height: 1;
            margin: 0;
            padding: 0;
            height: auto;
            width: auto;
            background-color: var(--mm-2-bg);
            color: var(--mm-2-clr);
            font: var(--mm-2-font); }
            .yt_menu.t_display.t_large > ul > li > ul > li > ul > li > a {
              display: block;
              outline: none;
              padding: var(--mm-2-a-padding);
              text-decoration: none;
              background-color: var(--mm-2-a-bg);
              color: var(--mm-2-a-clr); }
              .yt_menu.t_display.t_large > ul > li > ul > li > ul > li > a.t_path {
                background-color: var(--mm-2-a-bg-path);
                color: var(--mm-2-a-clr-path); }
              .yt_menu.t_display.t_large > ul > li > ul > li > ul > li > a:hover, .yt_menu.t_display.t_large > ul > li > ul > li > ul > li > a:focus {
                background-color: var(--mm-2-a-bg-hover);
                color: var(--mm-2-a-clr-hover); }
              .yt_menu.t_display.t_large > ul > li > ul > li > ul > li > a i {
                margin-right: .5ch; }
              .yt_menu.t_display.t_large > ul > li > ul > li > ul > li > a svg {
                vertical-align: top;
                float: right;
                width: var(--mm-2-ddwidth);
                height: var(--mm-2-ddheight); }

.yt_menu.t_display.t_small > ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  padding: var(--mm-0-padding);
  margin: 0;
  list-style: none;
  background-color: var(--mm-0-bg);
  color: var(--mm-0-clr);
  border: var(--mm-0-border);
  border-radius: var(--mm-0-border-radius); }
  .yt_menu.t_display.t_small > ul > li {
    list-style: none;
    line-height: 1;
    background-color: var(--mm-0-bg);
    color: var(--mm-0-clr);
    font: var(--mm-0-font); }
    .yt_menu.t_display.t_small > ul > li > a {
      display: block;
      outline: none;
      text-decoration: none;
      padding: var(--mm-0-a-small-padding);
      background-color: var(--mm-0-a-bg);
      color: var(--mm-0-a-clr); }
      .yt_menu.t_display.t_small > ul > li > a.t_path {
        background-color: var(--mm-0-a-bg-path);
        color: var(--mm-0-a-clr-path); }
      .yt_menu.t_display.t_small > ul > li > a:hover, .yt_menu.t_display.t_small > ul > li > a:focus {
        background-color: var(--mm-0-a-bg-hover);
        color: var(--mm-0-a-clr-hover); }
      .yt_menu.t_display.t_small > ul > li > a svg {
        float: right;
        vertical-align: top;
        padding-left: 1ch;
        width: var(--mm-0-ddwidth);
        height: var(--mm-0-ddheight); }
    .yt_menu.t_display.t_small > ul > li > ul {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      flex-wrap: nowrap;
      width: 85%;
      margin: var(--mm-1-small-margin);
      padding: var(--mm-1-small-padding);
      list-style: none;
      background-color: var(--mm-1-bg);
      color: var(--mm-1-clr);
      border: var(--mm-1-border);
      border-radius: var(--mm-1-border-radius); }
      .yt_menu.t_display.t_small > ul > li > ul.t_megamenu_content {
        width: 85%; }
      .yt_menu.t_display.t_small > ul > li > ul > li {
        list-style: none;
        line-height: 1;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        background-color: var(--mm-1-bg);
        color: var(--mm-1-clr);
        font: var(--mm-1-font); }
        .yt_menu.t_display.t_small > ul > li > ul > li.t_megamenu_content {
          background-color: var(--mm-1-mm-bg);
          color: var(--mm-1-mm-clr);
          font: var(--mm-1-mm-font); }
        .yt_menu.t_display.t_small > ul > li > ul > li > a {
          display: block;
          outline: none;
          padding: var(--mm-1-a-small-padding);
          text-decoration: none;
          background-color: var(--mm-1-a-bg);
          color: var(--mm-1-a-clr); }
          .yt_menu.t_display.t_small > ul > li > ul > li > a.t_path {
            background-color: var(--mm-1-a-bg-path);
            color: var(--mm-1-a-clr-path); }
          .yt_menu.t_display.t_small > ul > li > ul > li > a:hover, .yt_menu.t_display.t_small > ul > li > ul > li > a:focus {
            background-color: var(--mm-1-a-bg-hover);
            color: var(--mm-1-a-clr-hover); }
          .yt_menu.t_display.t_small > ul > li > ul > li > a i {
            margin-right: .5ch; }
          .yt_menu.t_display.t_small > ul > li > ul > li > a svg {
            vertical-align: top;
            float: right;
            width: var(--mm-1-ddwidth);
            height: var(--mm-1-ddheight); }
        .yt_menu.t_display.t_small > ul > li > ul > li > ul {
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column;
          flex-wrap: nowrap;
          width: 70%;
          margin: var(--mm-2-small-margin);
          padding: var(--mm-2-small-padding);
          list-style: none;
          background-color: var(--mm-2-bg);
          color: var(--mm-2-clr);
          border: var(--mm-2-border);
          border-radius: var(--mm-2-border-radius); }
          .yt_menu.t_display.t_small > ul > li > ul > li > ul > li {
            list-style: none;
            line-height: 1;
            margin: 0;
            padding: 0;
            height: auto;
            width: auto;
            background-color: var(--mm-2-bg);
            color: var(--mm-2-clr);
            font: var(--mm-2-font); }
            .yt_menu.t_display.t_small > ul > li > ul > li > ul > li > a {
              display: block;
              outline: none;
              padding: var(--mm-2-a-small-padding);
              text-decoration: none;
              background-color: var(--mm-2-a-bg);
              color: var(--mm-2-a-clr); }
              .yt_menu.t_display.t_small > ul > li > ul > li > ul > li > a.t_path {
                background-color: var(--mm-2-a-bg-path);
                color: var(--mm-2-a-clr-path); }
              .yt_menu.t_display.t_small > ul > li > ul > li > ul > li > a:hover, .yt_menu.t_display.t_small > ul > li > ul > li > ul > li > a:focus {
                background-color: var(--mm-2-a-bg-hover);
                color: var(--mm-2-a-clr-hover); }
              .yt_menu.t_display.t_small > ul > li > ul > li > ul > li > a i {
                margin-right: .5ch; }
              .yt_menu.t_display.t_small > ul > li > ul > li > ul > li > a svg {
                vertical-align: top;
                float: right;
                width: var(--mm-2-ddwidth);
                height: var(--mm-2-ddheight); }
