@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Menus#License */
/* Any site specific customizations for submodules should look like this: */
/* These should be placed in .\Website\AddonsCustoms\....  NOT HERE */
/* This example assumes use of a *.scss file */
/*
    .YetaWF_Menus_MainMenu li.t_megamenu_content {
        h1 {
            margin-top:0;
            margin-bottom:0;
            font-size:12px;
        }
    }
*/
