/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Menus#License */

.YetaWF_Menus_MainMenu {
    position:relative;
    li.dropdown.t_megamenu_hassub {
        position: static;
    }
    ul.navbar-nav ul li {
        line-height: 1.0;
        a {
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
    ul.t_megamenu_content {
        left: 0;
        right: 0;
        padding:0;
        /* default module width (first-level modules use the full width, see below) */
        width:100%!important;
        max-width:100%!important;
    }
    ul.t_lvl0 ul.t_megamenu_content.t_lvl1 {
        /* first-level modules use the full width */
        width:100%!important;
        max-width:100%!important;
        margin-left:0!important; /* override calculated left margin which is used to position the dropdown */
    }
    li.t_megamenu_content {
        padding: 10px 1ch 10px 1ch;
    }
}

@media screen and (max-width: 992px ) { /*@screen-md-min:*/
    .YetaWF_Menus_MainMenu {
        position: static;
    }
}

/* Any site specific customizations for submodules should look like this: */
/* These should be placed in .\Website\AddonsCustoms\....  NOT HERE */
/* This example assumes use of a *.scss file */
/*
    .YetaWF_Menus_MainMenu li.t_megamenu_content {
        h1 {
            margin-top:0;
            margin-bottom:0;
            font-size:12px;
        }
    }
*/
