@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Basics#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Basics.Modules.RecaptchaConfigModule, YetaWF.Modules.Basics.Controllers.RecaptchaConfigModuleController.EditModel>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyList")
</div>