@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Basics#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Basics.Modules.RecaptchaConfigModule, YetaWF.Modules.Basics.Controllers.RecaptchaConfigModuleController.EditModel>
@using (Form("RecaptchaConfig_Partial")) {
    <div class="yDivWarning">Recaptcha has been replaced by RecaptchaV2. Recaptcha applies to ALL sites within this YetaWF instance and should no longer be used.</div>
    @PartialForm()
    @FormButtons(new FormButton[] {
        new FormButton() { ButtonType= ButtonTypeEnum.Submit, },
        new FormButton() { ButtonType= ButtonTypeEnum.Cancel, },
    });
}
