@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
div.yt_moduleselection.t_edit {
  display: inline;
}
div.yt_moduleselection.t_edit .t_packages label,
div.yt_moduleselection.t_edit .t_select label {
  width: 12ch;
}
div.yt_moduleselection.t_edit .t_packages .yt_dropdownlist_base,
div.yt_moduleselection.t_edit .t_select .yt_dropdownlist_base {
  /* set min-width because we replace via ajax, so no autosize */
  min-width: 30ch;
}
div.yt_moduleselection.t_edit .t_select,
div.yt_moduleselection.t_edit .t_link {
  display: inline;
}
div.yt_moduleselection.t_edit .t_link a img {
  margin-left: 0.5ch;
}
div.yt_moduleselection.t_edit .t_description {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}