@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/KeepAlive#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.KeepAlive.Modules.KeepAliveConfigModule, YetaWF.Modules.KeepAlive.Controllers.KeepAliveConfigModuleController.Model>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyList")
</div>