@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/SyntaxHighlighter#License*@
@inherits YetaWF.Modules.SyntaxHighlighter.Views.Shared.SyntaxHighlighterSkins<string>
@using YetaWF.Modules.SyntaxHighlighter.Views.Shared
@using YetaWF.Core.Views
<div class='yt_yetawf_syntaxhighlighter_syntaxhighlighter t_edit'>
    @Html.RenderSyntaxHighlighterSkins("", Model)
</div>