/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License */


.yt_panels_pagepanelinfo {
    &.t_styledefault.t_display {
        .t_entry {
            display:inline-block;  
            width:200px;
            height: 120px;
            padding: 16px 16px 16px 16px;
            text-align:center;
            .t_link {
                font-size:smaller;
            }
        }
    }
    &.t_stylesmallvert {
        .t_image {
            display:inline-block;
            padding-right: 1ch;
        }
        .t_link {
            display:inline-block;
        }
    }
    &.t_stylesmalltable {
        .t_entry {
            clear:both;
        }
        .t_image {
            float:left;
            display:inline-block;
            padding-right: 1ch;
        }
        .t_link {
            float:left;
            width:30ch;
            display:inline-block;
            a {
                white-space: normal;
            }
        }
        .t_desc {
            float:none;
            display:block;
            overflow:hidden;
        }
    }
} 