@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Menus#License */
.YetaWF_Menus_MenuEdit .t_treeview {
  height: 20em;
  overflow: auto;
  border: 1px solid lightgray;
  border-radius: 3px; }
  .YetaWF_Menus_MenuEdit .t_treeview .ui-widget.ui-widget-content,
  .YetaWF_Menus_MenuEdit .t_treeview .ui-widget-content {
    border: none; }

.YetaWF_Menus_MenuEdit .t_view {
  /*float: left;*/
  /*margin-right: 2ch;*/
  margin-bottom: 1em; }

.YetaWF_Menus_MenuEdit .t_details {
  /*float: left;*/
  /*margin-right: 2ch;*/
  margin-bottom: 2em; }

.YetaWF_Menus_MenuEdit .t_details .t_row.t_needsmodulecontext {
  /* Hide "Needs Module Context" for now as that is not customizable */
  display: none; }
