/* Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Menus#License */

.YetaWF_Menus_MenuEdit .t_treeview {
    border: 1px groove gray;
    width:100%;
    height:20em;
}

.YetaWF_Menus_MenuEdit .t_view {
    /*float: left;*/
    /*margin-right: 2ch;*/
    margin-bottom:1em;
}
.YetaWF_Menus_MenuEdit .t_details {
    /*float: left;*/
    /*margin-right: 2ch;*/
    margin-bottom:2em;
}
.YetaWF_Menus_MenuEdit .t_details .t_row.t_needsmodulecontext {
    /* Hide "Needs Module Context" for now as that is not customizable */
    display:none;
}