@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Menus#License */
.YetaWF_Menus_MenuEdit .t_view {
  float: left;
  width: 29%;
  margin-right: 1%; }
  .YetaWF_Menus_MenuEdit .t_view .t_treeview {
    height: 50em; }
    .YetaWF_Menus_MenuEdit .t_view .t_treeview .yt_tree {
      overflow: auto; }

.YetaWF_Menus_MenuEdit .t_details {
  float: left;
  width: 69%;
  max-width: 100%;
  font-size: smaller; }

.YetaWF_Menus_MenuEdit .t_details .t_row.t_needsmodulecontext {
  /* Hide "Needs Module Context" for now as that is not customizable */
  display: none; }
