/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Menus#License */

// should be used on widecontent page and is not really well suited for mobile

.YetaWF_Menus_MenuEdit {
    .t_view {
        float:left;
        width:29%;
        margin-right:1%;
        .t_treeview {
            height:50em;
            .yt_tree {
                overflow: auto;
            }
        }
    }
    .t_details {
        float:left;
        width:69%;
        max-width:100%;
        font-size:smaller;
    }
    .t_details .t_row.t_needsmodulecontext {
        /* Hide "Needs Module Context" for now as that is not customizable */
        display:none;
    }
}
