/* jssor slider bullet navigator skin 12 css */
/*
.jssorb12 div           (normal)
.jssorb12 div:hover     (normal mouseover)
.jssorb12 .av           (active)
.jssorb12 .av:hover     (active mouseover)
.jssorb12 .dn           (mousedown)
*/
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av
{
    background: url(../../img/b12.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb12 div { background-position: -7px -7px; }
.jssorb12 div:hover, .jssorb12 .av:hover { background-position: -37px -7px; }
.jssorb12 .av { background-position: -67px -7px; }
.jssorb12 .dn, .jssorb12 .dn:hover { background-position: -97px -7px; }
