/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

/* don't wrap items in dropdownlist */
.k-list {
    white-space: nowrap;
}

.yt_dropdownlist_base.t_native {
    /* we need to restore default colors for native dropdownlists - some bs themes combined with kendo/jqueryui themse mess things up */
    color:#000;
    background-color:#fff;
}