/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

$bordersize: 1px;
$ddselwidth: 2em;
$ddwidth:   1em;
$ddheight: 1em;


.yt_dropdownlist_base {

    .t_container {
        display:flex;
        overflow: hidden;

        cursor: pointer;

        &.k-dropdown-wrap {
            padding-right: 0;// override k-dropdown-wrap's 2em
        }
    }
    .k-dropdown-wrap .k-input {
        text-indent: 0;
    }
    .t_container .t_input {
        padding: .2em .4em .2em .4em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .t_select {
        flex-basis: $ddselwidth;
        position:relative;
        margin-top: - $ddheight;

        .t_dd {
            .t_img {
                width:$ddwidth;
                height:$ddheight;
                top:50%;
                left: ($ddselwidth - $ddwidth) / 2;
                position:absolute;
                display: inline-block;
                background: url('image/caret-down-solid.svg') 0px 0px no-repeat;
                background-position-x: 0px;
            }
        }
    }

    select {
        display:none;
    }
}

#yDDPopup {
    position: absolute;
    z-index:2000;
    li {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}