@charset "UTF-8";
/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_dropdownlist_base .t_container {
  overflow: hidden;
  cursor: pointer; }
  .yt_dropdownlist_base .t_container.k-dropdown-wrap {
    padding-right: 0; }

.yt_dropdownlist_base .k-dropdown-wrap .k-input {
  text-indent: 0; }

.yt_dropdownlist_base .t_input.k-input {
  padding: 0.2em 2em 0.2em 0.4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.yt_dropdownlist_base .t_select {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 100%; }
  .yt_dropdownlist_base .t_select .t_img {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
    background: url("image/caret-down-solid.svg") 0px 0px no-repeat;
    background-position-x: center; }

.yt_dropdownlist_base select {
  display: none; }

#yDDPopup {
  position: absolute;
  z-index: 2000; }
  #yDDPopup li {
    text-overflow: ellipsis;
    white-space: nowrap; }
