/* Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Sites#License */

.yModule.YetaWF_Sites_SiteSelector .t_labels {
    width: 12ch;
    padding-top: 0.1em;
    padding-right:1ch;
}
.yModule.YetaWF_Sites_SiteSelector .yt_propertylist .t_row.t_sitedomain .t_vals select {
    width:100%;
    min-width:20ch;
}
.yModule.YetaWF_Sites_SiteSelector .t_vals {
    float: left;
}
.yModule.YetaWF_Sites_SiteSelector .yt_propertylist .t_row {/* no padding on last (and only row) */
    padding-bottom:0;
}
