@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Messenger#License*@
@using YetaWF.Core.Modules
@using YetaWF.Modules.Messenger.Modules
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Messenger.Modules.SiteAnnouncementModule, YetaWF.Modules.Messenger.Controllers.SiteAnnouncementModuleController.AddModel>
@if (!Manager.AddOnManager.HasModuleReference(ModuleDefinition.GetPermanentGuid(typeof(SkinSiteAnnouncementsModule)))) {
    <div class="yDivAlert">
        Messaging services are not available (add a reference to the "Site Announcements (Skin)" module in Site Settings).
    </div>
} else {
    using (Form("SiteAnnouncement_Partial")) {
        @PartialForm()
        @FormButtons(new FormButton[] {
            new FormButton() { Text=__ResStr("btnSend", "Send"), ButtonType= ButtonTypeEnum.Submit, },
            new FormButton() { ButtonType= ButtonTypeEnum.Cancel, },
        });
    }
}