/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_decimal.t_edit {
    input {
        text-align: right;
        padding-right: 0.5ch;
        &::placeholder {
            opacity:0.6;
        }
    }
}