@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_decimal.t_edit input {
  text-align: right;
  padding-right: 0.5ch; }
  .yt_decimal.t_edit input::-webkit-input-placeholder {
    color: var(--inp-ph-clr);
    opacity: var(--inp-ph-opacity); }
  .yt_decimal.t_edit input::-moz-placeholder {
    color: var(--inp-ph-clr);
    opacity: var(--inp-ph-opacity); }
  .yt_decimal.t_edit input:-ms-input-placeholder {
    color: var(--inp-ph-clr);
    opacity: var(--inp-ph-opacity); }
  .yt_decimal.t_edit input::placeholder {
    color: var(--inp-ph-clr);
    opacity: var(--inp-ph-opacity); }
