@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_decimal.t_edit {
  text-align: right;
  padding-right: 0.5ch; }
  .yt_decimal.t_edit::-webkit-input-placeholder {
    color: var(--inp-ph-clr);
    opacity: var(--inp-ph-opacity); }
  .yt_decimal.t_edit:-ms-input-placeholder {
    color: var(--inp-ph-clr);
    opacity: var(--inp-ph-opacity); }
  .yt_decimal.t_edit::-ms-input-placeholder {
    color: var(--inp-ph-clr);
    opacity: var(--inp-ph-opacity); }
  .yt_decimal.t_edit::placeholder {
    color: var(--inp-ph-clr);
    opacity: var(--inp-ph-opacity); }
