/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Blog#License */

.YetaWF_Blog_Blog {
    div.t_author,
    div.t_authorurl {
        clear:none;
        float:left;
        .yCondense & {
            clear:none;
            float:none;
        }
    }
    div.t_datepublished {
        clear:none;
        float:left;
    }
    div.t_author div.t_vals,
    div.t_authorurl div.t_vals,
    div.t_datepublished div.t_vals,
    div.t_actions div.t_vals {
        float:right;
        .yCondense & {
            clear:none;
            float:none;
        }
    }
    .t_author .t_labels,
    .t_authorurl .t_labels {
        width:10ch;
        font-weight:bold;
    }
    .t_datepublished .t_labels {
        width:20ch;
        margin-left:10ch;
        font-weight:bold;
        .yCondense & {
            margin-left:0;
        }
    }
    div.t_actions {
        clear:none;
        float:right;
        .t_labels {
            display: none;
        }
    }
    div.t_displayablesummary {
        border-top: 1px solid gray;
    }
    .t_displayablesummary .t_labels {
        display: none;
    }
    .t_viewaction .t_labels {
        display: none;
    }
    .t_entry {
        margin-bottom: 1em;
    }
    .t_startdate {
        font-weight:bold;
    }
}

/* Blog Archive */
/* Blog Archive */
/* Blog Archive */

.YetaWF_Blog_Archive {
    .t_actions {
        .t_labels {
            display: none;
        }
        a.yaction-link {
            display:block;
        }
    }
}

/* Blog Entry Display */
/* Blog Entry Display */
/* Blog Entry Display */

.YetaWF_Blog_EntryDisplay {
    div.t_author,
    div.t_authorurl {
        clear:none;
        float:left;
        .yCondense & {
            clear:none;
            float:none;
        }
    }
    div.t_datepublished {
        clear:none;
        float:left;
    }
    div.t_author div.t_vals,
    div.t_authorurl div.t_vals,
    div.t_datepublished div.t_vals {
        float:right;
        .yCondense & {
            clear:none;
            float:none;
        }
    }
    .t_author .t_labels,
    .t_authorurl .t_labels {
        width:12ch;
        font-weight:bold;
    }
    .t_datepublished .t_labels {
        width:20ch;
        margin-left:10ch;
        font-weight:bold;
        .yCondense & {
            margin-left:0;
        }
    }
    .t_actions .t_labels {
        display:none;
    }
    div.t_text {
        padding-top:1em;
        border-top: 1px solid gray;
    }
    .t_text .t_labels {
        display: none;
    }
}

/* Blog Comments Display */
/* Blog Comments Display */
/* Blog Comments Display */

.YetaWF_Blog_CommentsDisplay {
    .t_boxdeleted,
    .t_boxnotapproved {
        font-weight:bold;
        color: yellow;
        background-color: red;
        margin-bottom: .5em;
    }
    .t_deleted {
        background-color:lightgray;
    }
    .t_gravatar {
        float: left;
        margin-right: 2ch;
        margin-bottom: .5em;
    }
    .t_title {
        font-weight:bold;
    }
    .t_comment {
        clear: both;
        margin-bottom: .5em;
    }
    .t_cmtby,
    .t_cmton {
        padding-right:1ch;
        display: inline;
    }

    .t_cmtauthor,
    .t_cmtdate {
        display: inline;
    }
    .t_cmtauthor {
        margin-right: 5ch;
    }
    .t_boxinfo {
        margin-bottom: .5em;
    }
    .t_boxactions {
        padding-bottom: .5em;
        border-bottom: dotted 1px gray;
        margin-bottom: 1em;
    }
}