@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ModuleEdit#License*@
@inherits  YetaWF.Modules.ModuleEdit.Views.Shared.Roles<YetaWF.Core.Serializers.SerializableList<YetaWF.Core.Modules.ModuleDefinition.AllowedRole>>
@using YetaWF.Modules.ModuleEdit.Views.Shared
<div class='yt_yetawf_moduleedit_allowedroles t_edit'>
    @Html.RenderAllowedRoles("", Model)
</div>