@charset "UTF-8";
/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_moduleactions,
.yt_moduleactionsplain {
  display: inline;
}
.yt_moduleactions a,
.yt_moduleactionsplain a {
  margin-bottom: 0.1em;
}

a.y_act_normmenu,
a.y_act_normlink {
  margin-right: 1.5ch;
}
a.y_act_normmenu img,
a.y_act_normmenu i,
a.y_act_normlink img,
a.y_act_normlink i {
  margin-right: 0.5ch;
}
a.y_act_normmenu svg,
a.y_act_normlink svg {
  margin-right: 1ch;
  width: 1em;
  height: 1em;
}

a.y_act_icon img,
a.y_act_icon i {
  margin-right: 0.5ch;
}
a.y_act_icon svg {
  margin-right: 1ch;
  width: 1em;
  height: 1em;
}

a.y_act_link {
  margin-right: 1.5ch;
}

a.y_act_button {
  margin-right: 0.5ch;
}
a.y_act_button img,
a.y_act_button i {
  margin-right: 0.5ch;
}
a.y_act_button svg {
  margin-right: 1ch;
  width: 1em;
  height: 1em;
}

a.y_act_buttonicon {
  padding: 0.3em 0.5em;
  margin-right: 0.5ch;
}

a.y_act_buttononly {
  margin-right: 0.5ch;
}

a.y_act_buttonbar {
  padding: 0.3em 0.5em;
  border: var(--bar-border);
}
a.y_act_buttonbar.t_first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
a.y_act_buttonbar.t_last {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
a.y_act_buttonbar.t_middle {
  border-radius: 0;
}

@media print {
  .yt_moduleactions,
  .yt_moduleactionsplain {
    display: none;
  }
}