/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_moduleactions {
    a.y_act_normlink {
        margin-right: 1.5ch;
    }
    a.y_act_normlink img,
    a.y_act_icon img {
        margin-right: 1ch;
    }
}


@media print {
    .yt_moduleactions {
        display: none;
    }
}
