@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_moduleactions a.y_act_normlink {
  margin-right: 1.5ch; }

.yt_moduleactions a.y_act_normlink img,
.yt_moduleactions a.y_act_icon img,
.yt_moduleactions a.y_act_normlink i,
.yt_moduleactions a.y_act_icon i {
  margin-right: 1ch; }

.yt_moduleactions a.y_act_button {
  margin-right: .5ch; }

.yt_moduleactions a {
  margin-bottom: .5rem; }

@media print {
  .yt_moduleactions {
    display: none; } }
