/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_menuul {
    font-size:11px;
    &.t_dynamic {
        position:absolute;
        z-index:50000;
        left:0;
        top:0;
    }
}

@media print {
    .yt_menuul {
        display: none;
    }
}

