@charset "UTF-8";
/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
div.yt_pageselection {
  display: inline; }
  div.yt_pageselection .t_select,
  div.yt_pageselection .t_link {
    display: inline; }
  div.yt_pageselection .t_description {
    display: none; }
  div.yt_pageselection .t_link a img {
    margin-left: .5ch; }
