/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/PageEdit#License */

.YetaWF_PageEdit_EditMode {
    position:fixed;
    z-index:1510;
    left:2px;
    top:5px;
    #yEditControlDiv {
        .t_display,
        .t_edit {
            height:16px;
            width:16px;
            padding:4px;
            box-sizing: content-box;
            svg {
                vertical-align: top;
                height:16px;
                width:16px;
            }
        }
    }
}

/* PANE TAG */
.yEditMode .yPaneTag {
    display: block;
    position: absolute;
    z-index:1;
    top: 0;
    left: .5em;
    font-size: .7em;
    background: var(--prop-cat-bg);
    color: var(--prop-cat-clr);
    padding: 0 0.2em;
}

.yModule-current {
    background: var(--mod-current-bg);
}

.yModuleMenuEditIcon {
    position: absolute;
    z-index: 1500;
    left:0;
    top: 0;
    text-align:left;/* in case module has a different default */
    .yModuleMenuContainer {
        ul.yModuleMenu {
            display:none;
        }
    }
}
