/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/PageEdit#License */

/* PANE TAG */
.yPaneTag {
    position: absolute;
    z-index:1;
    top: -.7em;
    left: .5em;
    font-size: .7em;
    background: var(--elem-border-clr);
    color: var(--elem-clr);
    padding: 0 0.2em;
}

.YetaWF_PageEdit_EditMode {
    position:absolute;
    z-index:1510;
    left:2px;
    top:5px;
    #yEditControlDiv {
        line-height:1;
        > a {
            display:block;
            line-height:1;
            padding:4px 4px;
        }
    }
}

.yModule-current {
    background: var(--elem-border-clr);
}

.yModuleMenuEditIcon {
    position: absolute;
    z-index: 1500;
    left:0;
    top: 0;
    text-align:left;/* in case module has a different default */
    .yModuleMenuContainer {
        ul.yModuleMenu {
            display:none;
        }
    }
}
