/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_image {
    img {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 1em;
    }
    &.t_edit {
        .yt_fileupload1,
        .t_haveimage {
           margin-top:.5em;
        }
    }
}

/* images in a grid */
.yt_grid .yt_image img {
    border: 0;
    padding: 0;
}

