/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing */

.yt_image img {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1em;
}
.yt_grid .yt_image img {
    border: 0;
    padding: 0;
}

.yt_image.t_edit .yt_fileupload1,
.yt_image.t_edit .t_haveimage {
   margin-top:.5em;
}
