/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_image.t_display {
    img {
        border: var(--panel-border);
        border-radius: var(--panel-border-radius);
        padding: 1em;
    }
}

/* images in a grid */
.yt_grid .yt_image.t_display img {
    border: 0;
    padding: 0;
}

