@charset "UTF-8";
/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_image.t_display img {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1em; }

/* images in a grid */
.yt_grid .yt_image.t_display img {
  border: 0;
  padding: 0; }
