@charset "UTF-8";
/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */
.yModule.YetaWF_Identity_Login .t_ext1,
.yModule.YetaWF_Identity_Register .t_ext1 {
  display: inline-block;
  padding-bottom: 0.3em;
  padding-right: 3ch; }
