/* Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Identity#License */

.yModule.YetaWF_Identity_LoginSelector .t_labels {
    width: 11ch;
    padding-top: 0.1em;
    padding-right:1ch;
}
.yModule.YetaWF_Identity_LoginSelector .yt_propertylist .t_row.t_userid .t_vals select {/* Firefox needs this for select */
    width:100%;
}
.yModule.YetaWF_Identity_LoginSelector .t_vals {
    float: left;
}
