/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */

.yModule.YetaWF_Identity_SelectTwoStepSetup .t_auth_info {
    padding-bottom:.5em;
    .t_auth {
        padding-left:3ch;
        display: inline-block;
    }
    .t_stat {
        padding-left:3ch;
        display: inline-block;
    }
    .t_desc {
        padding-top:.5em;
        padding-left:10ch;
    }
}
