/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

textarea.k-textbox.yt_textareasourceonly.t_display {// need specificity
    padding-left:.5ch;
    padding-right:.5ch;
    width:100%;
    resize:none;
}
