@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Blog#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Blog.Modules.BlogModule, YetaWF.Modules.Blog.Controllers.BlogModuleController.DisplayModel>
@using YetaWF.Modules.Blog.DataProvider
@using YetaWF.Core.Localize
@{
    int count = 0;
}
@if (Model.StartDate != null) {
    <div class="t_startdate">
        @__ResStr("startDate", "Showing blog entries published on or before {0}.", Formatting.FormatDate(Model.StartDate))
    </div>
}
@foreach (YetaWF.Modules.Blog.Controllers.BlogModuleController.Entry blogEntry in Model.BlogEntries) {
    ++count;
    <h2><a href="@await BlogConfigData.GetEntryCanonicalNameAsync(blogEntry.Identity)" class="yaction-link">@blogEntry.Title.ToString()</a></h2>
    <div class="t_entry @("t_entry" + count.ToString())">
        @Html.DisplayFor(m => blogEntry, "PropertyList")
    </div>
}
