@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Blog#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Blog.Modules.BlogConfigModule, YetaWF.Modules.Blog.Controllers.BlogConfigModuleController.Model>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyListTabbed")
</div>