@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Blog#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Blog.Modules.CategoryHeaderModule, YetaWF.Modules.Blog.Controllers.CategoryHeaderModuleController.DisplayModel>
@using (Form("CategoryHeader")) {
    <div class="t_desc">
        @Html.DisplayFor(m => Model.Description)
    </div>
    @FormButtons(new FormButton[] {
        new FormButton() { ButtonType= ButtonTypeEnum.Cancel, Text=this.__ResStr("btnCancel", "Return") },
    });
}
