@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Blog#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Blog.Modules.CategoryAddModule, YetaWF.Modules.Blog.Controllers.CategoryAddModuleController.AddModel>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyList")
</div>

