@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Blog#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Blog.Modules.SummaryModule, YetaWF.Modules.Blog.Controllers.SummaryModuleController.DisplayModel>
@{
    int count = 0;
}
@foreach (YetaWF.Modules.Blog.Controllers.SummaryModuleController.Entry blogEntry in Model.BlogEntries) {
    ++count;
    <div class="t_entry @("t_entry" + count.ToString())">
        @blogEntry.ViewAction.RenderAsLink()
    </div>
}
