/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_color.t_edit {
    display:inline-block;
    input[type="text"] {
        display:inline;
        width:30ch;
    }
    .t_selector {
        width: 2em;
    }
}