/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License */

.yt_panels_panelinfo {
    .t_panels.t_accordion {
        > .t_accheader {
            position: relative;
            display: block;
            outline: none;
            cursor: pointer;
            margin: 2px 0 0 0;
            padding: .5em .5em .5em .7em;
            background: var(--tabs-tab-bg);
            color: var(--tabs-tab-clr);
            font: var(--body-font);
            border: var(--tabs-tab-border);
            border-radius: var(--tabs-tab-border-radius);
            &:hover:not(.t_active) {
                background: var(--tabs-tab-bg-hover);
                color: var(--tabs-tab-clr-hover);
                .t_accicon {
                    color: var(--tabs-tab-clr-hover);
                }
            }
            &.t_active {
                background: var(--tabs-tab-bg-active);
                color: var(--tabs-tab-clr-active);
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
                .t_accicon {
                    color: var(--tabs-tab-clr-active);
                }
                &:focus {
                    background: var(--tabs-tab-bg-focus);
                    color: var(--tabs-tab-clr-focus);
                }
                &.t_active svg {
                    transform: rotate(180deg);
                }
            }
            .t_accicon {
                display:inline-block;
                width:16px;
                height:16px;
                color: var(--tabs-tab-clr);
                svg {
                    display:inline-block;
                    transition: transform .3s;
                    transform: rotate(0deg);
                }
            }
        }
        > .t_acccontent {
            padding:0;
            &.t_active {
                padding:1em;
            }
            font: var(--body-font);
            background: var(--body-bg);
            color: var(--body-clr);
            border: var(--tabs-tab-border);
            border-top:0;
            border-bottom-left-radius: var(--tabs-tab-border-radius);
            border-bottom-right-radius: var(--tabs-tab-border-radius);

            transition: height .6s, padding .6s ease-in;
            overflow:hidden;
        }
    }
}