/* jssor slider thumbnail Navigator Skin 11 css */
/*
.jssort11 .p            (normal)
.jssort11 .p:hover      (normal mouseover)
.jssort11 .pav          (active)
.jssort11 .pav:hover    (active mouseover)
.jssort11 .pdn          (mousedown)
*/
.jssort11 .p .t {
    FILTER: alpha(opacity=45);
    opacity: .45;
    transition: opacity .6s;
    -moz-transition: opacity .6s;
    -webkit-transition: opacity .6s;
    -o-transition: opacity .6s;
}

.jssort11 .pav .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .t {
    FILTER: alpha(opacity=100);
    opacity: 1;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}
