@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/SlideShow#License*@
@inherits YetaWF.Modules.SlideShow.Views.Shared.CaptionTransition<string>
@using YetaWF.Modules.SlideShow.Views.Shared
<div class='yt_yetawf_slideshow_captiontransition t_edit'>
    @Html.RenderCaptionTransition("", Model)@Html.ValidationMessageFor(m => Model)
</div>