/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Basics#License */

.YetaWF_Basics_AlertDisplay {
    z-index: 10000;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    border: 1px solid #ff0000;
    background-color: #e26363;
    color: #ffffff;

    .t_close img {
        margin: 5px;
        margin-right:1em;
        padding: 3px;
        border-radius: 3px;
        background-color: #ffffff;
    }
    .t_close img:hover {
        background-color: #cccccc;
    }
    .t_close {
        display:inline-block;
        vertical-align:top;
    }
    .t_message {
        width:90%;
        display:inline-block;
        vertical-align:top;
    }
    .t_message a {
        color:white;
    }
}
