/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Basics#License */

.YetaWF_Basics_AlertDisplay {
    z-index: 10000;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 1em;
    margin: 1em;
    border-radius: .5em;
    border: var(--tst-border);
    background: var(--tst-warn-bg);
    color: var(--tst-warn-clr);
    box-shadow: var(--tst-info-shadow);

    .t_close a {
        margin: .3em;
        margin-right: 1em;
        padding: .2em;
        border: var(--buttonlite-border);
        border-radius: var(--buttonlite-border-radius);
        background: var(--buttonlite-bg);
        svg {
            width: 1em;
            height: 1em;
        }
    }
    .t_close a:hover {
        background: var(--buttonlite-bg-hover);
    }
    .t_close {
        display:inline-block;
        vertical-align:top;
    }
    .t_message {
        width:90%;
        display:inline-block;
        vertical-align:top;
    }
}
