@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/DevTests#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.DevTests.Modules.TemplateEmailModule, YetaWF.Modules.DevTests.Controllers.TemplateEmailModuleController.Model>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyList")
</div>