@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/DevTests#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.DevTests.Modules.BasicTemplatesModule, YetaWF.Modules.DevTests.Controllers.BasicTemplatesModuleController.EditModel>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyListTabbed")
</div>
