/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_pageskin .t_collection label,
.yt_pageskin .t_skin label,
.yt_popupskin .t_collection label,
.yt_popupskin .t_skin label {
    display:inline-block;
    padding-right:1ch;
    width: 25ch;
}

.yt_pageskin.t_edit .t_collection .yt_dropdownlist_base,
.yt_pageskin.t_edit .t_skin .yt_dropdownlist_base {
    max-width:100%;
}
.yt_popupskin.t_edit .t_collection .yt_dropdownlist_base,
.yt_popupskin.t_edit .t_skin .yt_dropdownlist_base {
    max-width:100%;
}

/* these are updated via ajax so we set an explicit width */
.yt_pageskin.t_edit .t_skin .yt_dropdownlist_base,
.yt_popupskin.t_edit .t_skin .yt_dropdownlist_base {
    width:30ch;
}
