/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

input[type="text"] {
    &.yt_text10 {
        max-width:100%;
        width: 16ch;
    }
    &.yt_text20 {
        max-width:100%;
        width: 26ch;
    }
    &.yt_text,
    &.yt_text40 {
        max-width:100%;
        width: 38ch;
    }
    &.yt_text80 {
        max-width:100%;
        width: 62ch;
    }
}

.yt_text_copy {
    margin-left:.5ch;
}