@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
input[type="text"].t_display.yt_text10 {
  max-width: 100%;
  width: 16ch; }

input[type="text"].t_display.yt_text20 {
  max-width: 100%;
  width: 26ch; }

input[type="text"].t_display.yt_text, input[type="text"].t_display.yt_text40 {
  max-width: 100%;
  width: 38ch; }

input[type="text"].t_display.yt_text80 {
  max-width: 100%;
  width: 62ch; }

.yt_text_copy {
  margin-left: .5ch; }
