/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

div.yt_multistring.t_edit {
    display:inline-block;
}

div.yt_multistring input[type="text"].t_text10 {
    width: 14ch;
}

div.yt_multistring input[type="text"].t_text20 {
    width: 24ch;
}
div.yt_multistring input[type="text"].t_text,
div.yt_multistring input[type="text"].t_text40 {
    width: 38ch;
}
div.yt_multistring input[type="text"].t_text80 {
    width: 62ch;
}
div.yt_multistring select {
    width: auto;
}
.yt_multistring .yt_multistring_text {
    max-width:100%;
    margin-right: 1ch;
}
