/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Search#License */

/* highlighted search terms */
.highlight { background-color: yellow }

/* The search control module */
.yModule.YetaWF_Search_SearchControl  {
    position: fixed;
    right: 0px;
    top: 12em;
}
.YetaWF_Search_SearchResults {
    .t_summary {
        margin-top:1em;
    }
    .t_list {
        margin-top:1em;
    }
    .t_entry {
        margin-bottom:.5em;
    }
    .t_url {
        font-size:smaller;
    }
    .t_updated {
        font-size:smaller;
        display:inline;
    }
}

/* Hide on smaller devices */
@media screen and (max-width: 1400px ) {
    .YetaWF_Search_SearchControl {
        display: none;
    }
}
