@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/PageEdit#License */
.YetaWF_PageEdit_PageControl {
  position: absolute;
  z-index: 1510;
  left: 30px;
  top: 5px; }
  .YetaWF_PageEdit_PageControl #yPageControlDiv {
    line-height: 1; }
    .YetaWF_PageEdit_PageControl #yPageControlDiv > a {
      display: block;
      line-height: 1;
      padding: 4px 4px; }

#yPageControlMod {
  display: none;
  position: absolute;
  left: 30px;
  width: 800px;
  z-index: 1500; }
  #yPageControlMod .yt_tabs {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  #yPageControlMod .yt_moduleactions {
    background-color: #e4e3e3;
    padding: .5em;
    border-bottom-left-radius: var(--tabs-tab-border-radius);
    border-bottom-right-radius: var(--tabs-tab-border-radius); }
    #yPageControlMod .yt_moduleactions a {
      color: #2e2e2e;
      text-decoration: none;
      margin-bottom: .1rem; }
      #yPageControlMod .yt_moduleactions a:hover {
        text-decoration: underline; }
