/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Scheduler#License */

/* Scheduler Event Control */

.yt_yetawf_scheduler_event.t_display {
    .t_event {
        padding-bottom:.5em;
    }
    .t_info {
        overflow:hidden;
    }
    .t_labels {
        float:left;
        width: 20ch;
    }
    .t_row {
        width: auto;
        clear: both;
        padding-bottom: 0.5em;
    }
    .t_vals {
        overflow:hidden;
    }
}
