@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Scheduler#License */
/* Scheduler Event Control */
.yt_yetawf_scheduler_event.t_display .t_event {
  padding-bottom: 0.5em;
}
.yt_yetawf_scheduler_event.t_display .t_info {
  overflow: hidden;
}
.yt_yetawf_scheduler_event.t_display .t_labels {
  float: left;
  width: 20ch;
}
.yt_yetawf_scheduler_event.t_display .t_row {
  width: auto;
  clear: both;
  padding-bottom: 0.5em;
}
.yt_yetawf_scheduler_event.t_display .t_vals {
  overflow: hidden;
}