@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/SyntaxHighlighter#License*@
@inherits YetaWF.Modules.SyntaxHighlighter.Views.Shared.HighlightJSSkins<string>
@using YetaWF.Modules.SyntaxHighlighter.Views.Shared
<div class='yt_yetawf_syntaxhighlighter_highlightjs t_display'>
    @if (string.IsNullOrEmpty(Model)) {
        @: @__ResStr("noHighlightJSSkin", "(default)")
    } else {
        @: @Model
    }
</div>