/* Image Selection */
/* Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ImageRepository#License */

.yt_imagerepository_imageselection .t_list {
    float: left;
    margin-right:2ch;
}
.yt_imagerepository_imageselection .t_list select {
    width: 30ch;
}
.yt_imagerepository_imageselection .t_haveimage,
.yt_imagerepository_imageselection .t_uploadarea {
    padding-top: .5em;
    clear:both;
}
.yt_imagerepository_imageselection .t_haveimage .yt_moduleaction,
.yt_imagerepository_flashselection .t_haveflash .yt_moduleaction {
    display:inline;
    padding-right:1ch;
}
