@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Panels.Modules.ModulePanelModule, YetaWF.Modules.Panels.Controllers.ModulePanelModuleController.Model>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model.PanelInfo, "YetaWF_Panels_PanelInfo")
</div>