/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_markdown textarea {// need specificity
    padding-left:.5ch;
    padding-right:.5ch;
    width:100%;
    resize:none;
}
