/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/DevTests#License */

.yt_yetawf_devtests_scrolleritem {
    width:200px;/* All items must be the exact same width so offset calculations are correct */
    height:320px;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
    border-right: 1px solid #DDD;
    .yt_image img {
        border: 0;
        padding: 0;
    }

    .t_image {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .t_title {
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 30px;
    }
    .t_summary {
        font-size: 10px;
        font-weight: normal;
        max-height:200px;
        overflow:auto;
    }
}

