@charset "UTF-8";
/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/DevTests#License */
.yt_yetawf_devtests_scrolleritem {
  width: 200px; /* All items must be the exact same width so offset calculations are correct */
  height: 320px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  border-right: var(--prop-border);
}
.yt_yetawf_devtests_scrolleritem .yt_image img {
  border: 0;
  padding: 0;
}
.yt_yetawf_devtests_scrolleritem .t_image {
  padding-top: 0.7em;
  padding-bottom: 2em;
}
.yt_yetawf_devtests_scrolleritem .t_title {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 2em;
}
.yt_yetawf_devtests_scrolleritem .t_summary {
  font-size: 0.7em;
  font-weight: normal;
  max-height: 200px;
  overflow: auto;
}