/* jssor slider arrow navigator skin 09 css */
/*
.jssora09l              (normal)
.jssora09r              (normal)
.jssora09l:hover        (normal mouseover)
.jssora09r:hover        (normal mouseover)
.jssora09ldn            (mousedown)
.jssora09rdn            (mousedown)
*/
.jssora09l, .jssora09r, .jssora09ldn, .jssora09rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../../img/a09.png) no-repeat;
    overflow:hidden;
    opacity: .4; filter:alpha(opacity=40);
}
.jssora09l { background-position: -5px -35px; }
.jssora09r { background-position: -65px -35px; }
.jssora09l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora09rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }
