/* jssor slider arrow navigator skin 14 css */
/*
.jssora14l              (normal)
.jssora14r              (normal)
.jssora14l:hover        (normal mouseover)
.jssora14r:hover        (normal mouseover)
.jssora14ldn            (mousedown)
.jssora14rdn            (mousedown)
*/
.jssora14l, .jssora14r, .jssora14ldn, .jssora14rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../../img/a14.png) no-repeat;
    overflow:hidden;
}
.jssora14l { background-position: -15px -35px; }
.jssora14r { background-position: -75px -35px; }
.jssora14l:hover { background-position: -135px -35px; }
.jssora14r:hover { background-position: -195px -35px; }
.jssora14ldn { background-position: -255px -35px; }
.jssora14rdn { background-position: -315px -35px; }