/* jssor slider arrow navigator skin 15 css */
/*
.jssora15l              (normal)
.jssora15r              (normal)
.jssora15l:hover        (normal mouseover)
.jssora15r:hover        (normal mouseover)
.jssora15ldn            (mousedown)
.jssora15rdn            (mousedown)
*/
.jssora15l, .jssora15r, .jssora15ldn, .jssora15rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../../img/a15.png) no-repeat;
    overflow:hidden;
}
.jssora15l { background-position: -20px -41px; }
.jssora15r { background-position: -80px -41px; }
.jssora15l:hover { background-position: -140px -41px; }
.jssora15r:hover { background-position: -200px -41px; }
.jssora15ldn { background-position: -260px -41px; }
.jssora15rdn { background-position: -320px -41px; }