/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License */

$entry-width: 120px;
$entry-height: 80px; // horizontal only
$large-entry-width: 250px;

$small-screen: 1000px;
$large-screen: 1500px;

.yt_panels_pagebarinfo {
    .yt_panels_pagebarinfo_list {
        flex:none;
        overflow-x:auto;
        overflow-y: hidden;
        white-space: nowrap;
        background: var(--bar-bg);
        border-right: var(--bar-border);
        .t_expcoll {
            cursor: pointer;
            display:none;
        }
        .t_caption {
            font-size:.6rem;
            line-height:1.2;
            white-space:normal;
        }
        .t_entry {
            text-decoration: none;
            background: var(--bar-bg);
            color: var(--bar-clr);
            &:hover {
                background: var(--bar-bg-hover);
                color: var(--bar-clr-hover);
            }
            &.t_active {
                text-decoration: none;
                background: var(--bar-bg-active);
                color: var(--bar-clr-active);
            }
            &:focus {
                outline: thin dotted;
            }
            svg {
                width: 32px;
                height:32px;
                opacity: 0.6;
            }
        }
        .t_entry {
            height:$entry-height;
            width:$entry-width;
            padding:20px 2px 0px 2px;
            display:inline-block;
            vertical-align:top;
            text-align:center;
        }
    }
    .t_area {
        padding: .7em 1.3em .7em 1.3em;
        width:100%;
        .modStandard h1 {
            font-size:var(--bar-h1-font-size);
            line-height: 1;// we don't want to use the standard h1 line-height from --mstd-title-font
            margin:0;
            padding:0;
            padding-bottom: .5em;
        }
    }
}


/* Wide Content */

.widecontentfill {
    .yt_panels_pagebarinfo {
        .t_area .yModule {
            margin-bottom:.8em;
        }
    }
}


@media (min-width: $small-screen) {

    .yt_panels_pagebarinfo {
        &.t_stylesvert {
            display: flex;
            .yt_panels_pagebarinfo_list {
                transition: flex-basis .3s;
                flex: 0 0 $entry-width;
                overflow-x:hidden;
                overflow-y:auto;
                text-align:center;
                white-space: normal;
                .t_entry {
                    height: auto;
                    width: auto;
                    padding:7px 2px 0px 2px;
                    display:block;
                    vertical-align:initial;
                    .t_link {
                        padding-bottom:10px;
                    }
                }
            }
            .t_area {
                flex:1;
                padding: .7em 1.3em .7em 1.3em;
                overflow:hidden;
                overflow-y:auto;
            }
        }
    }
}

@media (min-width: $large-screen) {

    .yt_panels_pagebarinfo {
        &.t_stylesvert.t_expanded { // if expanded
            .yt_panels_pagebarinfo_list {
                transition: flex-basis .3s;
                flex: 0 0 $large-entry-width;
                overflow-x:hidden;
                overflow-y:auto;
                text-align:left;
                white-space: nowrap;

                .t_entry {
                    text-align:left;
                    height: auto;
                    width: auto;
                    padding:5px 2px 5px 1em;
                    display:block;
                    vertical-align:initial;
                    img {
                        display:inline-block;
                        padding-right:.5em;
                    }
                    svg {
                        display:inline-block;
                        margin-right:.5em;
                    }
                    .t_caption {
                        font-size:.8rem;
                        display:inline-block;
                        white-space:nowrap;
                        padding-bottom:0;
                    }
                }
            }
        }
    }
    .yt_panels_pagebarinfo {
        &.t_stylesvert {
            .yt_panels_pagebarinfo_list {
                position:relative;
            }
            .t_expcoll {
                display:block;
                position:absolute;
                right:0;
                //top:calc(50% - 12px);
                width:8px;
                height:24px;
                background-image: url(images/Expand.png);
            }
        }
    }
    .yt_panels_pagebarinfo {
        &.t_stylesvert.t_expanded { // if expanded
            .t_expcoll {
                background-image: url(images/Collapse.png);
            }
        }
    }
}

@media print {
    .yt_panels_pagebarinfo_list {
        display: none;
    }
}
