/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License */

$entry-width: 100px;
$entry-height: 80px; // horizontal only
$bar-background: silver;
$bar-color: white;
$bar-active: darken($bar-background, 20%);

$small-screen: 1000px;

.yt_panels_pagebarinfo {
    &.t_styleshorz,
    &.t_stylesvert {
        > .t_list {
            flex:none;
            overflow-x:auto;
            overflow-y: hidden;
            white-space: nowrap;
            .t_entry {
                height:$entry-height;
                width:$entry-width;
                padding:20px 2px 0px 2px;
                display:inline-block;
                vertical-align:top;
                text-align:center;
            }
        }
        .t_area {
            padding: 10px 20px 10px 20px;
            width:100%;
        }
    }
}

.yt_panels_pagebarinfo {
    .t_list {
        .t_link {
            font-size:10px;
            line-height:1.2;
        }
        .yaction-link {
            white-space:normal;
        }
    }
}

.yt_panels_pagebarinfo.t_skin {
    .t_list {
        background: transparent;// don't use jquery-ui ui-widget-content background
    }
}

.yt_panels_pagebarinfo.t_noskin {
    .t_list {
        background: $bar-background;
        .t_entry {
            &.t_active {
                background: $bar-active;
            }
            a {
                color: $bar-color;
            }
        }
    }
}

@media (min-width: $small-screen) {

.yt_panels_pagebarinfo {
    &.t_stylesvert {
        display: flex;
        > .t_list {
            flex: 0 0  $entry-width;
            overflow-x:hidden;
            overflow-y:auto;
            text-align:center;
            white-space: normal;
            .t_entry {
                height: initial;
                width: initial;
                padding:7px 2px 0px 2px;
                display:block;
                vertical-align:initial;
                .t_link {
                    padding-bottom:10px;
                }
            }
        }
        .t_area {
            flex:1;
            padding: 10px 20px 10px 20px;
            overflow:hidden;
            overflow-y:auto;
        }
    }
}

}

