@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License */
.yt_panels_pagebarinfo .yt_panels_pagebarinfo_list {
  -webkit-box-flex: 0;
          flex: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background: var(--bar-bg); }
  .yt_panels_pagebarinfo .yt_panels_pagebarinfo_list .t_expcoll {
    cursor: pointer;
    display: none; }
  .yt_panels_pagebarinfo .yt_panels_pagebarinfo_list .t_link {
    font-size: .6rem;
    line-height: 1.2; }
    .yt_panels_pagebarinfo .yt_panels_pagebarinfo_list .t_link .yaction-link {
      white-space: normal; }
  .yt_panels_pagebarinfo .yt_panels_pagebarinfo_list .t_entry:hover {
    background: var(--bar-bg-hover); }
    .yt_panels_pagebarinfo .yt_panels_pagebarinfo_list .t_entry:hover a {
      color: var(--bar-clr-hover); }
  .yt_panels_pagebarinfo .yt_panels_pagebarinfo_list .t_entry.t_active {
    background: var(--bar-bg-active); }
    .yt_panels_pagebarinfo .yt_panels_pagebarinfo_list .t_entry.t_active a {
      color: var(--bar-clr-active); }
  .yt_panels_pagebarinfo .yt_panels_pagebarinfo_list .t_entry a {
    color: var(--bar-clr); }
  .yt_panels_pagebarinfo .yt_panels_pagebarinfo_list .t_entry {
    height: 80px;
    width: 120px;
    padding: 20px 2px 0px 2px;
    display: inline-block;
    vertical-align: top;
    text-align: center; }

.yt_panels_pagebarinfo .t_area {
  padding: 10px 20px 10px 20px;
  width: 100%; }

@media (min-width: 1000px) {
  .yt_panels_pagebarinfo.t_stylesvert {
    display: -webkit-box;
    display: flex; }
    .yt_panels_pagebarinfo.t_stylesvert .yt_panels_pagebarinfo_list {
      -webkit-box-flex: 0;
              flex: 0 0 120px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
      white-space: normal; }
      .yt_panels_pagebarinfo.t_stylesvert .yt_panels_pagebarinfo_list .t_entry {
        height: auto;
        width: auto;
        padding: 7px 2px 0px 2px;
        display: block;
        vertical-align: initial; }
        .yt_panels_pagebarinfo.t_stylesvert .yt_panels_pagebarinfo_list .t_entry .t_link {
          padding-bottom: 10px; }
    .yt_panels_pagebarinfo.t_stylesvert .t_area {
      -webkit-box-flex: 1;
              flex: 1;
      padding: 10px 20px 10px 20px;
      overflow: hidden;
      overflow-y: auto; } }

@media (min-width: 1500px) {
  .yt_panels_pagebarinfo.t_stylesvert.t_expanded .yt_panels_pagebarinfo_list {
    -webkit-box-flex: 0;
            flex: 0 0 250px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    white-space: nowrap; }
    .yt_panels_pagebarinfo.t_stylesvert.t_expanded .yt_panels_pagebarinfo_list .t_entry {
      text-align: left;
      height: auto;
      width: auto;
      padding: 5px 2px 5px 1em;
      display: block;
      vertical-align: initial; }
      .yt_panels_pagebarinfo.t_stylesvert.t_expanded .yt_panels_pagebarinfo_list .t_entry .t_image {
        display: inline-block;
        padding-right: .5em; }
      .yt_panels_pagebarinfo.t_stylesvert.t_expanded .yt_panels_pagebarinfo_list .t_entry .t_link {
        font-size: .8rem;
        display: inline-block;
        padding-bottom: 0; }
        .yt_panels_pagebarinfo.t_stylesvert.t_expanded .yt_panels_pagebarinfo_list .t_entry .t_link .yaction-link {
          white-space: nowrap; }
  .yt_panels_pagebarinfo.t_stylesvert .yt_panels_pagebarinfo_list {
    position: relative; }
  .yt_panels_pagebarinfo.t_stylesvert .t_expcoll {
    display: block;
    position: absolute;
    right: 0;
    width: 8px;
    height: 24px;
    background-image: url(images/Expand.png); }
  .yt_panels_pagebarinfo.t_stylesvert.t_expanded .t_expcoll {
    background-image: url(images/Collapse.png); } }
