/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License */

$entry-width: 120px;
$entry-height: 80px; // horizontal only
$large-entry-width: 250px;

$small-screen: 1000px;
$large-screen: 1500px;

// t_noskin colors, when CSS variables are not available
$bar-background: silver;
$bar-hover: darken($bar-background, 10%);
$bar-color: white;
$bar-active: darken($bar-background, 20%);

.yt_panels_pagebarinfo {
    &.t_styleshorz,
    &.t_stylesvert {
        .yt_panels_pagebarinfo_list {
            flex:none;
            overflow-x:auto;
            overflow-y: hidden;
            white-space: nowrap;
            .t_entry {
                height:$entry-height;
                width:$entry-width;
                padding:20px 2px 0px 2px;
                display:inline-block;
                vertical-align:top;
                text-align:center;
            }
        }
        .t_area {
            padding: 10px 20px 10px 20px;
            width:100%;
        }
    }

    &.t_skin {
        .yt_panels_pagebarinfo_list {
            background: transparent;// don't use jquery-ui ui-widget-content background
        }
    }

    &.t_noskin {
        .yt_panels_pagebarinfo_list {
            background: $bar-background;
            background: var(--bar-bg, $bar-background);
            .t_entry {
                &:hover {
                    background: $bar-hover;
                    background: var(--bar-bg-hover, $bar-hover);
                    a {
                        color: $bar-color;
                        color: var(--bar-clr-hover, $bar-color);
                    }
                }
                &.t_active {
                    background: $bar-active;
                    background: var(--bar-bg-active, $bar-active);
                    a {
                        color: $bar-color;
                        color: var(--bar-clr-active, $bar-color);
                    }
                }
                a {
                    color: $bar-color;
                    color: var(--bar-clr, $bar-color);
                }
            }
        }
    }
}

.yt_panels_pagebarinfo {
    .yt_panels_pagebarinfo_list {
        .t_expcoll {
            cursor: pointer;
            display:none;
        }
        .t_link {
            font-size:.6rem;
            line-height:1.2;
            .yaction-link {
                white-space:normal;
            }
        }
    }
}


@media (min-width: $small-screen) {

    .yt_panels_pagebarinfo {
        &.t_stylesvert {
            display: flex;
            .yt_panels_pagebarinfo_list {
                flex: 0 0  $entry-width;
                overflow-x:hidden;
                overflow-y:auto;
                text-align:center;
                white-space: normal;
                .t_entry {
                    height: auto;
                    width: auto;
                    padding:7px 2px 0px 2px;
                    display:block;
                    vertical-align:initial;
                    .t_link {
                        padding-bottom:10px;
                    }
                }
            }
            .t_area {
                flex:1;
                padding: 10px 20px 10px 20px;
                overflow:hidden;
                overflow-y:auto;
            }
        }
    }
}

@media (min-width: $large-screen) {

    .yt_panels_pagebarinfo {
        &.t_stylesvert.t_expanded { // if expanded
            .yt_panels_pagebarinfo_list {
                flex: 0 0  $large-entry-width;
                overflow-x:auto;
                overflow-y:auto;
                text-align:left;
                white-space: nowrap;

                .t_entry {
                    text-align:left;
                    height: auto;
                    width: auto;
                    padding:5px 2px 5px 1em;
                    display:block;
                    vertical-align:initial;
                    .t_image {
                        display:inline-block;
                        padding-right:.5em;
                    }
                    .t_link {
                        font-size:.8rem;
                        display:inline-block;
                        padding-bottom:0;
                        .yaction-link {
                            white-space:nowrap;
                        }
                    }
                }
            }
        }
    }
    .yt_panels_pagebarinfo {
        &.t_stylesvert {
            .yt_panels_pagebarinfo_list {
                position:relative;
            }
            .t_expcoll {
                display:block;
                position:absolute;
                right:0;
                //top:calc(50% - 12px);
                width:8px;
                height:24px;
                background-image: url(images/Expand.png);
            }
        }
    }
    .yt_panels_pagebarinfo {
        &.t_stylesvert.t_expanded { // if expanded
            .t_expcoll {
                background-image: url(images/Collapse.png);
            }
        }
    }
}

