@charset "UTF-8";
/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
div.yt_daytimerange {
  display: inline; }
  div.yt_daytimerange .t_from, div.yt_daytimerange .t_to, div.yt_daytimerange .t_from2, div.yt_daytimerange .t_to2, div.yt_daytimerange .t_add, div.yt_daytimerange .t_closed {
    display: inline-block; }
  div.yt_daytimerange .t_to, div.yt_daytimerange .t_to2, div.yt_daytimerange .t_add, div.yt_daytimerange .t_closed {
    display: inline-block;
    padding-right: 1ch; }
