/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

div.yt_daytimerange {
    display:inline;
    .t_from, .t_to, .t_from2, .t_to2, .t_add, .t_closed {
        display:inline-block;
    }
    .t_to, .t_to2, .t_add, .t_closed {
        display:inline-block;
        padding-right:1ch;
    }
}