@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_tabs {
  position: relative;
  padding: .2em;
  background: var(--tabs-bg);
  color: var(--tabs-clr);
  border: var(--tabs-tab-border-width) solid var(--tabs-tab-border-color);
  border-radius: var(--tabs-tab-border-radius); }
  .yt_tabs > ul.t_tabstrip {
    display: table;
    width: 100%;
    margin: 0;
    padding: .2em .2em 0 .2em;
    background: var(--tabs-strip-bg);
    border: var(--tabs-strip-border-width) solid var(--tabs-tab-strip-color);
    border-radius: var(--tabs-tab-border-radius); }
    .yt_tabs > ul.t_tabstrip > li.t_tab {
      list-style: none;
      float: left;
      position: relative;
      top: 0;
      margin: 1px .2em 0 0;
      padding: 0;
      line-height: 2em;
      white-space: nowrap;
      background: var(--tabs-tab-bg);
      color: var(--tabs-tab-clr);
      border-left: var(--tabs-tab-border-width) solid var(--tabs-tab-border-color);
      border-top: var(--tabs-tab-border-width) solid var(--tabs-tab-border-color);
      border-right: var(--tabs-tab-border-width) solid var(--tabs-tab-border-color);
      border-top-left-radius: var(--tabs-tab-border-radius);
      border-top-right-radius: var(--tabs-tab-border-radius);
      cursor: pointer; }
      .yt_tabs > ul.t_tabstrip > li.t_tab.t_tabactive {
        margin-bottom: -1px;
        padding-bottom: 1px;
        background: var(--tabs-tab-bg-active);
        color: var(--tabs-tab-clr-active); }
        .yt_tabs > ul.t_tabstrip > li.t_tab.t_tabactive > a.t_tabanchor {
          color: var(--tabs-tab-clr-active); }
      .yt_tabs > ul.t_tabstrip > li.t_tab:hover:not(.t_tabactive) {
        background: var(--tabs-tab-bg-hover);
        color: var(--tabs-tab-clr-hover); }
        .yt_tabs > ul.t_tabstrip > li.t_tab:hover:not(.t_tabactive) > a.t_tabanchor {
          color: var(--tabs-tab-clr-hover); }
          .yt_tabs > ul.t_tabstrip > li.t_tab:hover:not(.t_tabactive) > a.t_tabanchor:hover {
            color: var(--tabs-tab-clr-hover); }
      .yt_tabs > ul.t_tabstrip > li.t_tab > a.t_tabanchor {
        padding: 0 1em 0 1em;
        text-decoration: none;
        color: var(--tabs-tab-clr); }
  .yt_tabs .t_tabpanel {
    padding: 1em; }
