/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */

.YetaWF_Identity_Login {
    .yt_propertylist {
        .t_row.t_verificationcode {
            display:inline-block;
            .t_vals {
                margin-right:1ch;
            }
        }
        .t_row.t_resendverificationcode {
            display:inline-block;
        }
    }
    .t_detailsbuttons {
        input[type='submit'] {
            width:25ch;
        }
    }
    .t_external {
        h2 {
            font: var(--mpnl-title-font);
            padding: 1rem 0 0 0;
            margin: 0;
            vertical-align: middle;
        }
        .t_extentry {
            display:inline-block;
            padding-bottom:0.3em;
            padding-right:3ch;
            img {
                margin-right: .5ch;
            }
        }
    }
}
