@charset "UTF-8";
/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */
.YetaWF_Identity_Login .yt_propertylist .t_row.t_verificationcode {
  display: inline-block; }
  .YetaWF_Identity_Login .yt_propertylist .t_row.t_verificationcode .t_vals {
    margin-right: 1ch; }

.YetaWF_Identity_Login .yt_propertylist .t_row.t_resendverificationcode {
  display: inline-block; }
