/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */

.YetaWF_Identity_Login {
    .yt_propertylist {
        .t_row.t_verificationcode {
            display:inline-block;
            .t_vals {
                margin-right:1ch;
            }
        }
        .t_row.t_resendverificationcode {
            display:inline-block;
        }
    }
    .t_detailsbuttons {
        input[type='submit'] {
            width:25ch;
        }
    }
    .t_external .t_extentry {
        display:inline-block;
        padding-bottom:0.3em;
        padding-right:3ch;
        img {
            margin-right: .5ch;
        }
    }
}
