/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */

.YetaWF_Identity_Login {
    .yt_propertylist {
        .t_row.t_verificationcode {
            display:inline-block;
            .t_vals {
                margin-right:1ch;
            }
        }
        .t_row.t_resendverificationcode {
            display:inline-block;
        }
    }
}
