@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Sites#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Sites.Modules.SiteAddModule, YetaWF.Modules.Sites.Controllers.SiteAddModuleController.AddModel>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyList")
</div>

