/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

$fontsize: 11px;
$indent: 24px;

$entryheight: 24px;

$expandwidth: 24px;
$expandleftmargin: 6px;
$expandrightmargin: 0px;

$folderwidth: 24px;
$folderrightmargin: 5px;
$folderleftmargin: 0px;

$ddposwidth: 24px;

$headerhorzpadding: 4px;
$headerverticalpadding: 2px;
$cellhorzpadding: 2px;


.yt_tree {
    position:relative;
    width:100%;
    height:inherit;
    font-weight:normal;
    box-sizing: border-box;
    overflow:auto;

    .tg_header {
        white-space:nowrap;
        font-size:$fontsize;
        border:0;
        padding: $headerverticalpadding $headerhorzpadding $headerverticalpadding $headerhorzpadding;
        span {
            cursor:default;
        }
        user-select: none; /* Standard syntax */
    }
    .tg_emptytr {
        font-size:$fontsize;
        padding:2em 0 2em 2ch;
    }
    .tg_root {
        margin:0;
    }
    ul {
        padding:0;
        margin:0;
        ul.yActionIcons {
            margin-left: .5ch;
            display:inline-block;
        }
    }
    ul ul  {
        margin:0 0 0 $indent;
    }
    li {
        font-size:$fontsize;
        padding:0;
        list-style-type:none;
        white-space:nowrap;
        a {
            position:relative;
            line-height: $entryheight;
            height: $entryheight;
            vertical-align:middle;
            white-space:nowrap;
            .t_ddpos {
                position:absolute;
                left: -$ddposwidth;
                width:$entryheight;
                height:$ddposwidth;
                background: url(images.png) -96px 0px no-repeat;
                &.t_on {
                    top:0;
                }
                &.t_before {
                    top:-$entryheight / 2;
                }
                &.t_after {
                    top:+$entryheight / 2;
                }
            }
        }
        a,a:link,a:visited,a:hover,a:active,a:focus {
            text-decoration: none;
            color: inherit;
            outline:none;
        }
        .t_icdown, .t_icright, .t_caretempty {
            display:inline-block;
            width: $expandwidth;
            height: $entryheight;
            margin-left: $expandleftmargin;
            margin-right: $expandrightmargin;
        }
        .t_icfolder, .t_icfile, .t_icempty {
            display:inline-block;
            width: $folderwidth;
            height: $entryheight;
            margin-left: $folderleftmargin;
            margin-right: $folderrightmargin;
        }
        .t_icdown {
            background: url(images.png) -24px 0px no-repeat;
        }
        .t_icright {
            background: url(images.png) 0px 0px no-repeat;
        }
        .t_icfolder {
            background: url(images.png) -48px 0px no-repeat;
        }
        .t_icfile {
            background: url(images.png) -72px 0px no-repeat;
        }
    }
    .t_empty {
        width:24px;
        height:24px;
        display:inline-block;
    }
    .t_entry {
        padding:0 $cellhorzpadding 0 $cellhorzpadding;
        display:inline-block;
    }
}
.yt_tree.tg_skin { /* Skin dependent formatting */

}
.yt_tree.tg_noskin { /* Not skin dependent formatting, usually module specific */
    .t_entry {
        color:gray;
        &.t_select {
            background-color:#beebff;
            border-radius:2px;
            box-shadow: inset 0 0 1px #999;
        }
    }
    li {
        a,a:link,a:visited,a:hover,a:active,a:focus {
            color: gray;
        }
    }
}