@charset "UTF-8";
/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_fileupload1 {
  border: 1px dotted gray;
  padding: 5px 0px 5px 5px;
  cursor: default;
  -webkit-user-select: none;
          user-select: none;
  touch-action: none;
}
.yt_fileupload1 .t_upload {
  margin-right: 0.5ch;
}
.yt_fileupload1 .t_drop {
  display: inline;
}
.yt_fileupload1 .yt_progressbar {
  margin-top: 0.5em;
  margin-right: 1ch;
}