/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

$bordersize: 1px;
$ddselwidth: 2em;
$ddwidth:   1em;
$ddheight: 1em;


.yt_dropdownlist_base.t_edit {

    position: relative;
    display:inline-block;
    max-width:100%;
    outline:none;
    vertical-align: middle;

    .t_container {
        overflow: hidden;
        cursor: pointer;

        background: var(--dd-bg);
        color: var(--dd-clr);

        border: var(--dd-border);
        border-radius: var(--dd-border-radius);
        //box-shadow: 0 0 3px 0 rgba(0,0,0,.3);

        outline:none;
        padding-right: 0;

        &:hover:not(.t_focused):not(.t_disabled) {
            background: var(--dd-bg-hover);
            color: var(--dd-clr-hover);
            border: var(--dd-border-hover);
        }
        &.t_focused {
            background: var(--dd-bg-focus);
            color: var(--dd-clr-focus);
            border: var(--inp-border-focus);
        }
        &.t_disabled {
            opacity: .6;
            .t_select {
                opacity: .6;
            }
        }
        .t_input {
            text-indent: 0;
            padding: .3em $ddselwidth .3em .4em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .t_select {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: $ddselwidth;
            text-align: center;
            padding: .3em 0;
            svg {
                width:$ddwidth;
                height:$ddheight;
            }
        }
    }
    select {
        display:none;
    }
}

#yDDPopup {
    position: absolute;
    z-index:2500;
    .t_container {
        padding:.12em;
        background: var(--dd-p-bg);
        color: var(--dd-p-clr);
        border: var(--dd-p-border);
        border-radius: var(--dd-p-border-radius);
        box-shadow: var(--dd-p-shadow);
        .t_scroller {
            overflow: auto;
            .t_list {
                outline: 0;
                list-style: none;
                padding-left: 0;
                margin:0;
                height:auto;
                li {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0 .25em;
                    line-height: 1.8em;
                    min-height: 1.8em;
                    cursor: default;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    &:hover:not(.t_focused):not(.t_selected) {
                        background: var(--dd-p-bg-hover);
                        color: var(--dd-p-clr-hover);
                    }
                    &.t_focused, &.t_selected {
                        background: var(--dd-p-bg-focus);
                        color: var(--dd-p-clr-focus);
                        box-shadow: var(--dd-p-shadow-focus);
                    }
                }
            }
        }
    }
}