@charset "UTF-8";
/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */
.YetaWF_Identity_Register .yt_propertylist .t_row.t_passwordrules .t_vals {
  max-width: 50ch; }

.YetaWF_Identity_Register .t_detailsbuttons input[type='submit'] {
  width: 25ch; }

.YetaWF_Identity_Register .t_external .t_extentry {
  display: inline-block;
  padding-bottom: 0.3em;
  padding-right: 3ch; }
  .YetaWF_Identity_Register .t_external .t_extentry img {
    margin-right: .5ch; }
