@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
textarea.yt_textareasourceonly {
  padding-left: .5ch;
  padding-right: .5ch;
  width: 100%;
  resize: none;
  background: var(--inp-bg);
  color: var(--inp-clr);
  border: var(--inp-border);
  border-radius: var(--inp-border-radius);
  outline: none; }
  textarea.yt_textareasourceonly:hover:not(:disabled):not(:focus) {
    border: var(--inp-border-hover); }
  textarea.yt_textareasourceonly:focus {
    border: var(--inp-border-focus); }
  textarea.yt_textareasourceonly:disabled {
    opacity: .6; }
  textarea.yt_textareasourceonly:read-only {
    opacity: 0.6; }
  textarea.yt_textareasourceonly::-webkit-input-placeholder {
    opacity: 0.6; }
  textarea.yt_textareasourceonly:-ms-input-placeholder {
    opacity: 0.6; }
  textarea.yt_textareasourceonly::-ms-input-placeholder {
    opacity: 0.6; }
  textarea.yt_textareasourceonly::placeholder {
    opacity: 0.6; }
