/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */

.YetaWF_Identity_Need2FADisplay {
    border: 1px solid #ff0000;
    background-color: #e26363;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    color: #ffffff;
    .t_message {
        text-align:center;
        a {
            color:white;
            text-decoration:underline;
        }
    }
}
