/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Text#License */

.YetaWF_Text_Text .yt_textarea.t_display {
    width:100%;
    table {
        border-collapse: separate;
        border-spacing: 5px;
    }
    .FAQ_Q {
        text-decoration: underline;
        padding-bottom:1em;
        cursor:pointer;
    }
    .FAQ_A {
        padding-top:.5em;
        margin-left:2ch;
        padding-bottom:1.5em;
    }
}

@media screen {
    .YetaWF_Text_Text .yt_textarea.t_display {
        .FAQ_A {
            display:none;
        }
    }
}
@media print {
    .YetaWF_Text_Text .yt_textarea.t_display {
        .FAQ_A {
            display:block !important;
        }
    }
}