/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License */

.yt_panels_stepinfo {

    &.t_display {
        background: var(--step-bg);
        color: var(--step-clr);
        overflow: hidden;
        a.t_step {
            display: inline-block;
            position:relative;
            text-decoration:none;
            background: var(--step-bg);
            color: var(--step-clr);
            padding: 20px 0px 20px 40px;
            &.t_active, &.t_enabled {
                background: var(--step-bg-active);
                color: var(--step-clr-active);
            }
            .t_caption {
                font-size:15px;
                font-weight: bold;
                display:block;
                user-select:none;
            }
            .t_description {
                font-size:13px;
                font-weight: normal;
                display:block;
                user-select:none;
            }
        }
        .t_step:first-child {
            padding-left:20px;
        }
        .t_step:before {
            content: " ";
            position:absolute;
            top:50%;
            left:100%;
            margin-top:-50px;
            z-index:1;

            margin-left:2px;
            border-top: transparent solid 50px;
            border-bottom: transparent solid 50px;
            border-left: var(--body-bg) solid 30px;
        }
        .t_step:after {
            content: " ";
            position:absolute;
            top:50%;
            left:100%;
            margin-top:-50px;
            z-index:2;

            border-top: transparent solid 50px;
            border-bottom: transparent solid 50px;
            border-left: var(--step-bg) solid 30px;
        }
        .t_step.t_active:after, .t_step.t_enabled:after {
            border-left: var(--step-bg-active) solid 30px;
        }
    }
}