/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

$font: var(--tbl-font);
$fontheader: var(--tbl-header-font);

$fontsizesort: 1em;
$menufontsize: .8em;

$headerhorzpadding: .25em;
$headerverticalpadding: .25em;
$cellhorzpadding: .25em;
$cellverticalpadding: .25em;

$buttonfontsize: .9em;
$buttonfontsizenoskin: 1em;
$buttonhorzpadding: .25em;
$buttonvertpadding: .25em;
$buttonvertmargin: .25em;
$buttonhorzmargin: .25em;

$smbuttonhorzpadding: .2em;
$smbuttonvertpadding: .2em;
$smbuttonvertmargin: .2em;
$smbuttonhorzmargin: .2em;

.yt_grid {

    position:relative;

    .tg_table {  // general rendering
        overflow-x:auto;

        table {
            box-sizing: border-box;
            table-layout: fixed;
            .tg_header {
                th {
                    position: relative;
                    overflow:hidden;
                    white-space:nowrap;
                    padding:$headerverticalpadding $headerhorzpadding $headerverticalpadding $headerhorzpadding;
                    span {
                        cursor:default;
                    }
                    .tg_resize {
                        position:absolute;
                        width:4px;
                        height:100%;
                        right:0;
                        top:0;
                        cursor:col-resize;
                        user-select: none;
                        overflow: hidden;
                    }
                    .tg_sorticon {
                        position:relative;
                        font-size: $fontsizesort;
                        .tg_sortasc, .tg_sortdesc, .tg_sortboth {
                            position:relative;
                            display:none;
                            padding-left:5px;
                            &.tg_active {
                                display:inline-block;
                            }
                        }
                        .tg_sortasc {
                            top:$fontsizesort/4;
                        }
                        .tg_sortdesc {
                            top:-$fontsizesort/4;
                        }
                         .tg_sortboth {
                            opacity: .2;
                         }
                    }
                    user-select: none; /* Standard syntax */
                }
            }
            tr.tg_filter {
                .tg_fentry {
                    display: table;
                    width:100%;
                }
                .tg_fctrls {
                    display: table-cell;
                    width:100%;
                    .yt_text_base,
                    .yt_number_container,
                    .k-widget {//TODO: Remove
                        width:100%;
                    }
                    select {
                        width:100%;
                    }
                    .tg_ffilter {
                        display:inline-block;
                        width:10ch;
                        text-align:center;
                        font-size:$buttonfontsize;
                        margin:$smbuttonvertmargin $smbuttonhorzmargin $smbuttonvertmargin $smbuttonhorzmargin;
                        padding:$smbuttonvertpadding $smbuttonhorzpadding $smbuttonvertpadding $smbuttonhorzpadding;
                    }
                }
                .tg_fclear, .tg_fmenu {
                    display:inline-block;
                    font-size:var(--pm-1-font);// use popup font size to match popup displayed by button
                    margin:$smbuttonvertmargin $smbuttonhorzmargin $smbuttonvertmargin $smbuttonhorzmargin;
                    padding:$smbuttonvertpadding $smbuttonhorzpadding $smbuttonvertpadding $smbuttonhorzpadding;
                }
            }
            tbody {
                tr {
                    outline:0;
                    /* highlighted row (with bool __highlight property) */
                    &.tg_highlight td,
                    &.tg_highlight.tg_lowlight td {
                        background: var(--tbl-bg-highlight);
                        color: var(--tbl-clr-highlight);
                    }
                    /* lowlighted row (with bool __lowlight property) */
                    &.tg_lowlight td {
                        background: var(--tbl-bg-lowlight);
                        color: var(--tbl-clr-lowlight);
                    }
                    &.tg_selecthighlight td {
                        background: var(--tbl-bg-active);
                        color: var(--tbl-clr-active);
                    }
                    &:hover {
                        background: var(--tbl-bg-hover);
                        color: var(--tbl-clr-hover);
                    }
                }
                td {
                    padding:$cellverticalpadding $cellhorzpadding $cellverticalpadding $cellhorzpadding;
                    .tg_emptydiv {
                        padding:2em 0 2em 2ch;
                        .yt_grid & { // nested grid, no padding
                            padding:0;
                        }
                    }
                }
            }
            th, td {
                font: var(--body-font);
                overflow:hidden;
                &.tg_left {
                    text-align:left;
                }
                &.tg_center {
                    text-align:center;
                }
                &.tg_right {
                    text-align:right;
                }
                &.tg_truncate {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    .tg_pager {
        .tg_pgbtns, .tg_pgctl, .tg_pgnum, .tg_pgsel, .tg_totals {
            display:inline-block;
            margin:$buttonvertmargin $buttonhorzmargin $buttonvertmargin $buttonhorzmargin;
        }
        .tg_pgbtns, .tg_pgctl, .tg_pgsel {
            margin-right:4ch;
        }
        .tg_reload, .tg_search, .tg_pgtop, .tg_pgnext, .tg_pgprev, .tg_pgbottom {
            margin:$buttonvertmargin $buttonhorzmargin $buttonvertmargin $buttonhorzmargin;
            .fas {
                font-size:$buttonfontsize;
                padding:$buttonvertpadding $buttonhorzpadding $buttonvertpadding $buttonhorzpadding;
            }
        }
        label {
            padding: 0 $cellhorzpadding 0 $cellhorzpadding;
        }
        user-select: none; /* Standard syntax */
    }
    .tg_loading { // Loading indicator not currently customizable
        position:absolute;
        left:0; right: 0; top: 0; bottom: 0;
        background: var(--overlay-bg);
        opacity: var(--overlay-opacity);
        .t_text {
            margin:auto;
            width:25ch;
            background: var(--tbl-bg);
            color: var(--tbl-clr);
            text-align:center;
            border:  var(--tbl-border);
            border-radius: var(--tbl-border-radius);

            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

ul.yt_grid_menu {
    font-size:$menufontsize;
    overflow:auto;
    .t_fmenuicon {
        display:inline-block;
        width:4ch;
    }
    .t_fmenutext {
        display:inline-block;
    }
}

.yt_grid.tg_skin { /* Use skin theme */
    background: var(--tbl-header-bg);
    color: var(--tbl-header-clr);
    border: var(--tbl-border);
    border-radius: var(--tbl-border-radius);
    box-shadow: var(--tbl-shadow);
    .tg_table {
        table {
            border-collapse:collapse;
            font: $font;
            tbody {
                background: var(--tbl-bg);
                color: var(--tbl-clr);
            }
            .tg_header {
                border-bottom: var(--tbl-border);
            }
            tr.tg_filter {
                border-bottom: var(--tbl-border);
            }
            th {
                font:$fontheader;
                border-right: var(--tbl-border-lite);
            }
            td {
                font:$font;
                border-right: var(--tbl-border-lite);
            }
            th {
                &:hover {
                    background: var(--tbl-header-bg-hover);
                    color: var(--tbl-header-clr-hover);
                }
            }
            td {
                border-bottom: var(--tbl-border-lite);
            }
        }
    }
    .tg_pager {
        background: var(--tbl-header-bg);
        color: var(--tbl-header-clr);
        border-top: var(--tbl-border);
        font:$fontheader;
        .tg_reload, .tg_search, .tg_pgtop, .tg_pgnext, .tg_pgprev, .tg_pgbottom {
            .fas {
                font-size:$buttonfontsize;
            }
        }
        .tg_pgbtns, .tg_pgctl, .tg_pgnum, .tg_pgsel, .tg_totals {
            font:$font;
        }
    }
}

.yt_grid.tg_noskin { /* Skin theme not used */
    .tg_table {
        table {
            font: var(--body-font);
            th, td {
                font: var(--body-font);
            }
            .tg_header th {
                font-weight:bold;
            }
        }
    }
    .tg_pager {
        font: var(--body-font);
        .tg_reload, .tg_search, .tg_pgtop, .tg_pgnext, .tg_pgprev, .tg_pgbottom {
            .fas {
                font-size:$buttonfontsizenoskin;
            }
        }
        .tg_pgbtns, .tg_pgctl, .tg_pgnum, .tg_pgsel, .tg_totals {
            font: var(--body-font);
        }
    }
}
