/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing */

/* fix weird z-index issue where kendo menu is under grid header, pager */
.yt_grid, .ui-jqgrid {
    position: relative;
    z-index: 5;
}

/* jqgrid insists on pre white-space why??? */
.ui-jqgrid .yt_grid  tr.jqgrow td {
    white-space:normal;
}

/* why this extra padding on select??? */
.ui-jqgrid .yt_grid td select {
    padding-top: 0px;
    padding-bottom: 0px;
}

.ui-jqgrid .t_emptydiv {
    padding: 2em 0 2em 2ch;
}

/* highlighted row (with bool __highlight property) */
.yHighlightGridRow td {
    background-color: silver;
}
.yLowlightGridRow td {
    background-color: ghostwhite;
}

/* starting with jquery-ui 1.12, sort indicators are oddly positioned */
.ui-jqgrid .ui-icon {
    margin-top:0px;
}
.ui-jqgrid .s-ico > .ui-icon-asc.ui-icon.ui-sort-ltr {
	margin-left: 0px;
}
.ui-jqgrid .s-ico > .ui-icon-desc.ui-icon.ui-sort-ltr {
	margin-left: 0px;
}

/* starting around jqgrid 4.14.x, search/filter input fields are centered - change it back to left aligned */
.ui-search-table td.ui-search-input { text-align: left; }

/* some bootstrap themes underline table a:not(.btn) */
table a.soptclass,
table a.clearsearchclass {
    text-decoration:none;
}

/* Grid add/delete sub-template */
.yt_grid_addordelete .t_newvalue {
    margin-top:0.5em;
}
.yt_grid_addordelete .t_newvalue label,
.yt_grid_addordelete .t_newvalue input[type='text'] {
    margin-right:1ch;
}
