@charset "UTF-8";
/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License */
.yt_yetawf_panels_listoflocalpages.t_edit > .t_newvalue {
  padding-top: .5em; }
  .yt_yetawf_panels_listoflocalpages.t_edit > .t_newvalue label, .yt_yetawf_panels_listoflocalpages.t_edit > .t_newvalue input {
    margin-right: 1ch; }

.yt_yetawf_panels_listoflocalpages.t_edit .y_act_normlink[data-name="Collapse"] {
  margin-bottom: .5em;
  display: inline-block; }
