@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/SiteProperties#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.SiteProperties.Modules.LockedStatusModule, YetaWF.Modules.SiteProperties.Controllers.LockedStatusModuleController.Model>
<div class="@YetaWF.Core.Globals.CssDivAlert">
@__ResStr("locked", "Site is locked!")
</div>