/* Copyright © 2019 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */

.yt_yetawf_identity_listofusernames.t_edit {
    > .t_newvalue {
        padding-top:.5em;
        label, input {
            margin-right:1ch;
        }
    }
    .y_act_normlink[data-name="Collapse"] {
        margin-bottom:.5em;
        display: inline-block;
    }
}
