@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/PageEdit#License*@
@inherits YetaWF.Modules.PageEdit.Views.Shared.Roles<YetaWF.Core.Serializers.SerializableList<YetaWF.Core.Pages.PageDefinition.AllowedRole>>
@using YetaWF.Modules.PageEdit.Views.Shared
<div class='yt_yetawf_pageedit_allowedroles t_edit'>
    @Html.RenderAllowedRoles("", Model)
</div>