/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_moduleskins {
    .t_collection label,
    .t_skin label {
        display:inline-block;
        width: 25ch;
        padding-right:1ch;
    }
    &.t_edit .t_collection .yt_dropdownlist_base {
        max-width:100%;
    }
}


