@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/CurrencyConverter#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.CurrencyConverter.Modules.ConfigModule, YetaWF.Modules.CurrencyConverter.Controllers.ConfigModuleController.Model>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyList")
</div>