@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Identity#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Identity.Modules.Need2FADisplayModule, YetaWF.Modules.Identity.Controllers.Need2FADisplayModuleController.DisplayModel>
@using YetaWF.Core.Support
@{
    YetaWF.Core.Packages.Package package = YetaWF.Modules.Identity.Controllers.AreaRegistration.CurrentPackage;
    Manager.AddOnManager.AddAddOn(package.Domain, package.Product, "Need2FADisplay");
}
<div class="t_message">
    @__ResStr("need2FA", "Please set up Two-Step Authentication for full access to this site - ")
    @Model.SetupAction.RenderAsLink()
</div>
<script>
 $('#@Module.ModuleHtmlId').prependTo('body');
</script>

