@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Identity.Modules.SelectTwoStepAuthModule, YetaWF.Modules.Identity.Controllers.SelectTwoStepAuthModuleController.EditModel>
@using YetaWF.Core.Modules
@Html.EditorFor(m => Model, "PropertyList")
@foreach (ModuleAction action in Model.Actions) {
    <div class="t_auth">
        @action.RenderAsLink()
    </div>
}
