@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Identity#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Identity.Modules.LoginConfigModule, YetaWF.Modules.Identity.Controllers.LoginConfigModuleController.Model>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyListTabbed")
</div>