@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Identity#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Identity.Modules.ForgotPasswordModule, YetaWF.Modules.Identity.Controllers.ForgotPasswordModuleController.EditModel>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyList")
</div>