@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Identity.Modules.SetupExternalAccountModule, YetaWF.Modules.Identity.Controllers.SetupExternalAccountModuleController.SetupExternalAccountModel>
@using YetaWF.Core.Support
<p class='t_header'>
    @__ResStrHtml("extAcct", "You have successfully authenticated with <strong>{0}</strong>.<br/>Please enter a user name for this site below and click the Register button to finish logging in.", YetaWFManager.HtmlEncode(Model.LoginProvider))
</p>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyList")
</div>
