@charset "UTF-8";
/* Copyright © 2020 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
textarea.k-textbox.yt_textareasourceonly.t_edit {
  padding-left: .5ch;
  padding-right: .5ch;
  width: 100%;
  resize: none; }
  textarea.k-textbox.yt_textareasourceonly.t_edit::-webkit-input-placeholder {
    opacity: 0.6; }
  textarea.k-textbox.yt_textareasourceonly.t_edit:-ms-input-placeholder {
    opacity: 0.6; }
  textarea.k-textbox.yt_textareasourceonly.t_edit::-ms-input-placeholder {
    opacity: 0.6; }
  textarea.k-textbox.yt_textareasourceonly.t_edit::placeholder {
    opacity: 0.6; }
