/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

div.yt_moduleselection.t_display {
    .t_select,
    .t_link {
        display: inline;
        a img {
            margin-left:.5ch;
        }
    }
    .t_description {
        padding-top:.5em;
        padding-bottom:.5em;
    }
}
