/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

$w: 1em;
$h: 1em;
$ddwidth: 2em;

.yt_search_container {

    display: inline-block;
    vertical-align: middle;

    position:relative;
    width: auto;
    padding-right: $ddwidth;

    background: var(--dd-bg);
    color: var(--dd-clr);

    border: var(--dd-border);
    border-radius: var(--dd-border-radius);

    input {
        line-height: 1.5em;
        padding: .18em 0.2em;
        width: 100%;

        background: var(--inp-bg);
        color: var(--inp-clr);

        border: var(--dd-border);
        border-color: var(--inp-bg);
        border-radius: var(--dd-border-radius);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        outline:none;
        text-overflow: ellipsis;
        &:focus {
            text-overflow:clip;
        }
    }
    &:hover:not(.t_disabled):not(.t_focused) {
        background: var(--dd-bg-hover);
        color: var(--dd-clr-hover);
        border: var(--dd-border-hover);
    }
    &.t_focused {
        background: var(--dd-bg-focus);
        color: var(--dd-clr-focus);
        border: var(--dd-border-focus);
    }
    &.t_disabled {
        opacity: var(--body-dis-opacity);
    }
    &.t_readonly {
        opacity: var(--body-dis-opacity);
    }

    .t_search {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $ddwidth;
        text-align: center;

        border-left: var(--dd-border);
        svg {
            width:$w;
            height:100%;
            vertical-align:top;
        }
    }
}

