/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_propertylist {
    .t_proptable {
        padding-top: 10px;
        width: auto;
    }

    .t_row {
        width: auto;
        clear: both;
        padding-bottom: 0.5em;
        &.t_hidden {
            display:none;
        }
    }

    .t_labels {
        float: left;
        width: 25ch;
        margin-right: .5ch;
    }

    .t_vals {
        min-height: 1em;
        overflow: hidden;
    }

    .t_labels.t_fillerabove,
    .t_labels.t_fillerbelow {
        clear: both;
    }

    .t_vals.t_textabove {
        padding-bottom: 0.5em;
    }

    .t_vals.t_textbelow {
        padding-top: 0.5em;
    }
    /* These items should actually be in template-specific css files but because they're often-used core templates we'll put them here for convenience */
    .yt_url.t_edit {
        .yt_dropdownlist_base.t_select {
            max-width: 100%;
        }
    }

    .yt_dropdownlist_base.yt_enum.t_edit,
    .yt_dropdownlist_base.yt_usstate.t_edit,
    .yt_dropdownlist_base.yt_caprovince.t_edit,
    .yt_moduleselection.t_edit .yt_dropdownlist_base,
    .yt_pageselection.t_edit .yt_dropdownlist_base {
        max-width: 100%;
    }

    .yt_email.t_edit {
        max-width: 100%;
    }
}

.yt_propertylist.t_tabbed {
    box-shadow: var(--tbl-shadow);
}

/* Header/Footer */
.y_header {
    padding-bottom: .8ch;
}
.y_footer {
    padding-top: .8ch;
    padding-bottom: .8ch;
}


.yCondense {
    // definitions for small screen
    .yt_propertylist {
        .t_labels {
            float: none;
            width:auto;
            padding-bottom: 0.2em;
        }
        .t_vals {
            /*overflow: auto;*/
            /* These items should actually be in template-specific css files but because they're core templates we'll put them here for convenience */
            input[type='text'].yt_text80 {
                width:100%;
            }
            .yt_multistring.t_edit {
                display:block;
                width:100%;
                .t_multistring_text {
                    width:100%;
                    margin-right:0;
                }
                input[type="text"].t_text80 {
                    width:100%;
                }
            }
            .yt_url.t_edit {
                display:block;
                .t_local {
                    width:100%;
                    .yt_dropdownlist_base {
                        width:100% !important;
                    }
                }
                .t_remote {
                    width:100%;
                    input[type='text'] {
                        width:100%;
                    }
                }
            }
        }
        .t_labels.t_fillerabove {
            display:none;
        }
        .t_labels.t_fillerbelow {
            display:none;
        }
    }
}

.yt_propertylist.t_boxedcat {
    margin-top:2ch;
    .t_proptable {
        .t_boxlabel {
            position: absolute;
            top:-12px;
            left:20px;
            background: var(--prop-cat-bg);
            color: var(--prop-cat-clr);
            border: var (--prop-cat-border);
            border-radius: var(--prop-cat-border-radius);
            padding:0 3px;
        }
    }
}
.yt_propertylist.t_boxed,
.yt_propertylist.t_boxedcat {
    .t_proptablehidden {
        display:none;
    }
    .t_proptable {
        position:relative;
        border: var(--prop-border);
        border-radius: var(--prop-border-radius);
        padding:3ch 2ch 2ch 2ch;
        margin-bottom:2ch;
        margin-right:0;
        &.t_propexpanded {
            .t_boxexpcoll {
                &.t_show {
                    background-image:url(images/Collapse16.png);
                    position: absolute;
                    top:5px;
                    right:5px;
                    width:16px;
                    height:16px;
                }
                &.t_hide {
                    display: none;
                }
            }
        }
        &.t_propcollapsed {
            .t_boxexpcoll {
                &.t_show {
                    background-image:url(images/Expand16.png);
                    position: absolute;
                    top:5px;
                    right:5px;
                    width:16px;
                    height:16px;
                }
                &.t_hide {
                    display: none;
                }
            }
        }
        &.t_prophide,
        &.t_propsuppress {
            display: none;
        }
    }
    &.t_col1 .t_proptable {
        width:100%;
    }
    &.t_col2 .t_proptable {
        float:left;
        width:48%;
    }
    &.t_col3 .t_proptable {
        float:left;
        width:32%;
    }
    &.t_col4 .t_proptable {
        float:left;
        width:23%;
    }
    &.t_col5 .t_proptable {
        float:left;
        width:19%;
    }
}