@charset "UTF-8";
/* Copyright © 2021 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Panels#License */
.yt_panels_splitterinfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  position: relative;
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_title {
  font-size: 1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  background: var(--bar-bg);
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_cmds {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  right: 3ch;
  text-align: right;
  line-height: 1;
  padding: 0.2em 0 0 0;
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_cmds .yt_panels_splitterinfo_colldesc {
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5ch;
  font-size: 11px;
  line-height: 1.5;
  vertical-align: top;
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_cmds .yt_panels_splitterinfo_coll {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_left {
  display: none;
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_exp {
  display: block;
  position: absolute;
  left: 5px;
  top: 0;
  width: 16px;
  height: 16px;
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_resize {
  display: none;
}
.yt_panels_splitterinfo.t_expanded .yt_panels_splitterinfo_exp {
  display: none;
}
.yt_panels_splitterinfo.t_expanded .yt_panels_splitterinfo_left {
  display: block;
}
@media screen and (max-width: 900px) {
  .yt_panels_splitterinfo.t_expanded .yt_panels_splitterinfo_right {
    display: none;
  }
}
.yt_panels_splitterinfo.t_expanded .yt_panels_splitterinfo_resize {
  display: block;
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30%;
          flex: 0 1 30%;
  position: relative;
  border-right: var(--bar-border);
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_left .t_area {
  overflow: auto;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .yt_panels_splitterinfo .yt_panels_splitterinfo_left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_right {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
          flex: 1 1;
  position: relative;
  min-width: 0;
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_right .t_area {
  overflow: auto;
  height: 100%;
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_right .t_area .yModule {
  height: 100%;
}
@media screen and (max-width: 900px) {
  .yt_panels_splitterinfo .yt_panels_splitterinfo_right .t_area {
    overflow: hidden;
  }
}
.yt_panels_splitterinfo .yt_panels_splitterinfo_right .yt_panels_splitterinfo_resize {
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
  cursor: col-resize;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}
.yt_panels_splitterinfo svg {
  position: relative;
}

@media print {
  .yt_panels_splitterinfo,
.yt_panels_splitterinfo.t_expanded {
    display: block;
    overflow: visible;
    height: auto;
  }
  .yt_panels_splitterinfo .yt_panels_splitterinfo_left,
.yt_panels_splitterinfo .yt_panels_splitterinfo_resize,
.yt_panels_splitterinfo .yt_panels_splitterinfo_exp,
.yt_panels_splitterinfo.t_expanded .yt_panels_splitterinfo_left,
.yt_panels_splitterinfo.t_expanded .yt_panels_splitterinfo_resize,
.yt_panels_splitterinfo.t_expanded .yt_panels_splitterinfo_exp {
    display: none;
  }
}