@*Copyright © 2017 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Scheduler#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Scheduler.Modules.SchedulerEditModule, YetaWF.Modules.Scheduler.Controllers.SchedulerEditModuleController.SchedulerEditModel>
@Html.ValidationSummary()
<div>
    @Html.EditorFor(m => Model, "PropertyList")
</div>
