/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/SiteProperties#License */

.YetaWF_SiteProperties_LockedStatus {
    div.yDivAlert {
        text-align:center;
        margin:0;
    }
    .yModuleMenuEditIcon {
        z-index:1510;
    }
}
