/* Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Menus#License */

.YetaWF_SiteProperties_LockedStatus {
    div.yDivAlert {
        text-align:center;
        margin:0;
    }
    .yModuleMenuEditIcon {
        z-index:1510;
    }
}
