/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Languages#License */

.yt_yetawf_languages_localizeclasses .t_links {
    margin-bottom:1em;
}
.yt_yetawf_languages_localizeclasses .t_classname {
    padding-top :1em;
    padding-bottom :1em;
}
.yt_yetawf_languages_localizeclasses .t_classname a {
    text-decoration:none;
    font-weight: bold;
}

.yt_yetawf_languages_localizeclasses div.t_name,
.yt_yetawf_languages_localizeclasses div.t_propvars {
    float: left;
}
.yt_yetawf_languages_localizeclasses div.t_name  {
    width: 30ch;
}
