/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_propertylist,
.yt_propertylisttabbed {
    .t_table {
        padding-top: 10px;
        width: auto;
    }

    .t_row {
        width: auto;
        clear: both;
        padding-bottom: 0.5em;
    }

    .t_labels {
        float: left;
        width: 25ch;
        margin-right: .5ch;
    }

    .t_vals {
        min-height: 1em;
        overflow: hidden;
    }

    .t_labels.t_fillerbelow {
        clear: both;
    }

    .t_vals.t_textabove {
        padding-bottom: 0.5em;
    }

    .t_vals.t_textbelow {
        padding-top: 0.5em;
    }
    /* These items should actually be in template-specific css files but because they're often-used core templates we'll put them here for convenience */
    .yt_url.t_edit {
        .yt_dropdownlist_base.t_select {
            max-width: 100%;
        }
    }

    .yt_dropdownlist_base.yt_enum.t_edit,
    .yt_dropdownlist_base.yt_usstate.t_edit,
    .yt_dropdownlist_base.yt_caprovince.t_edit,
    .yt_moduleselection.t_edit .yt_dropdownlist_base,
    .yt_pageselection.t_edit .yt_dropdownlist_base {
        max-width: 100%;
    }

    .yt_email.t_edit {
        max-width: 100%;
    }
}

.yCondense {
    // definitions for small screen
    .yt_propertylist,
    .yt_propertylisttabbed {
        .t_labels {
            float: none;
            width:auto;
            padding-bottom: 0.2em;
        }
        .t_vals {
            /*overflow: auto;*/
            /* These items should actually be in template-specific css files but because they're core templates we'll put them here for convenience */
            input[type='text'].yt_text80 {
                width:100%;
            }
            .yt_multistring.t_edit {
                display:block;
                width:100%;
                .yt_multistring_text {
                    width:100%;
                    margin-right:0;
                }
                input[type="text"].t_text80 {
                    width:100%;
                }
            }
            .yt_url.t_edit {
                display:block;
                .t_local {
                    width:100%;
                    .k-widget.k-dropdown.yt_dropdownlist_base {
                        width:100% !important;
                    }
                }
                .t_remote {
                    width:100%;
                    input[type='text'] {
                        width:100%;
                    }
                }
            }
        }
        .t_labels.t_fillerabove {
            display:none;
        }
        .t_labels.t_fillerbelow {
            display:none;
        }
    }
}
