/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/TinyLanguage#License */

.yModule.YetaWF_TinyLanguage .t_labels {
    width: auto;
    padding-top: 0.1em;
    padding-right: 1ch;
}
.yModule.YetaWF_TinyLanguage .yt_propertylist .t_row {/* no padding on last (and olny row) */
    padding-bottom:0;
}

