/* Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ImageRepository#License */

.yt_imagerepository_flashselection {
    .t_list {
        float: left;
        margin-right:2ch;
    }
    .t_list select {
        width: 30ch;
    }
    .t_haveflash,
    .t_uploadarea {
        padding-top: .5em;
        clear:both;
    }
}
