@charset "UTF-8";
/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */
.yt_helpinfo p {
  margin-bottom: 0.3rem;
}
.yt_helpinfo ul, .yt_helpinfo ol {
  list-style: inside;
}
.yt_helpinfo li {
  margin-left: 2ch;
}