/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

.yt_helpinfo {
    p {
        margin-bottom:0.3rem;
    }
    ul, ol {
        list-style:inside;
    }
    li {
        margin-left:2ch;
    }
}