@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Dashboard#License*@
@inherits YetaWF.Core.Views.RazorView<YetaWF.Modules.Dashboard.Modules.DisposableTrackerBrowseModule, YetaWF.Modules.Dashboard.Controllers.DisposableTrackerBrowseModuleController.BrowseModel>
<p>
    @__ResStrHtml("explain", "<p>Disposable objects implement the IDisposable interface. Their creation/destruction is tracked using the DisposableTracker class. " +
    "If objects are shown they should be checked as they are possible leaks. " +
    "Some classes deliberately create near permanent disposable object. These are SiteDefinition, LanguageData and LogRecordDataProvider. " +
    "More than one object may be created per class. Only objects with explicit calls to DisposableTracker.AddObject/RemoveObject are tracked.</p>" +
    "<p>Tracking is enabled/disabled in the site's Web.config using &lt;add key=\"P: YetaWF_Core:DisposableTracker\" value=\"true|false\" /&gt;</p>")
</p>

@using (Form("DisposableTrackerBrowse_Partial")) {
    @PartialForm()
    @Html.DisplayFor(m => Model.GridDef)
}
