/* Copyright © 2022 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/ComponentsHTML#License */

/* Hide all validation errors, we show icons with tooltips instead */

img.yform-warningicon {
    padding-left:.4em;
    padding-top: 1px;
}

.yform-ajax .t_detailsbuttons {
    clear:both;
    padding-top: .5em;
    input,
    a.y_act_button,
    a.y_act_buttononly,
    a.y_act_buttonicon {
        margin-right: .5em;
        margin-bottom: .1em;
    }
    @media print {
        display: none;
    }
}

fieldset {
    p {
        margin-bottom:.2em;
    }
    line-height:140%;
    padding-bottom: .2em;
}

