@charset "UTF-8";
/* Copyright © 2023 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Identity#License */
.yt_yetawf_identity_userid.t_edit {
  display: inline;
}
.yt_yetawf_identity_userid.t_edit.t_large label {
  padding-top: 0.5em;
}
.yt_yetawf_identity_userid.t_edit.t_small {
  display: inline;
}
.yt_yetawf_identity_userid.t_edit .t_name img {
  margin-right: 0.5ch;
}
.yt_yetawf_identity_userid.t_edit a {
  margin-left: 0.5ch;
}